@charset "UTF-8";
iframe{clear:both; padding: 2em 0; max-width: 100%;}
p.top {clear:both; text-align:right; margin: 2em 0;}
dt {cursor:pointer;}
dt > h3 {background: #aaa; border: 1px solid #666; padding: .5em;}

/* BLUE HEADER FOR RESOURCE CENTER PAGES */ 
.rc_header {clear: both; padding: .5em; margin: 1em 0; line-height: 20px; width: auto; color: white; font-size: 18px; background-color: #6699cc; box-shadow: 3px 3px 1px #888888;}


.row { text-align: left; overflow:hidden;}
#ctl00_TemplateBody_PanelTemplate_Head > h2 {font-family: "proxima-nova",sans-serif !important;}
.block, .block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8, .block9, .block10, .block11, .block12 { width: 200px !important; margin: 1em; display:inline-block; vertical-align: top; text-align:left; }