@charset "UTF-8";

/* blvd */
@font-face {
  font-family: "blvd";
  src:url("https://file.myfontastic.com/h6ufQFkxA6iHEYR452RviC/fonts/1447146063.eot");
  src:url("https://file.myfontastic.com/h6ufQFkxA6iHEYR452RviC/fonts/1447146063.eot?#iefix") format("embedded-opentype"),
    url("https://file.myfontastic.com/h6ufQFkxA6iHEYR452RviC/fonts/1447146063.woff") format("woff"),
    url("https://file.myfontastic.com/h6ufQFkxA6iHEYR452RviC/fonts/1447146063.ttf") format("truetype"),
    url("https://file.myfontastic.com/h6ufQFkxA6iHEYR452RviC/fonts/1447146063.svg#1447146063") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "blvd" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "blvd" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-torsos-all:before {
  content: "a";
}
.icon-torso-business:before {
  content: "b";
}
.icon-torso-female:before {
  content: "c";
}
.icon-x:before {
  content: "d";
}
.icon-lock:before {
  content: "f";
}
.icon-heart:before {
  content: "g";
}
.icon-page-edit:before {
  content: "h";
}
.icon-social-google-plus:before {
  content: "j";
}
.icon-social-myspace:before {
  content: "k";
}
.icon-trees:before {
  content: "l";
}
.icon-telephone:before {
  content: "m";
}
.icon-torsos-female-male:before {
  content: "n";
}
.icon-target-two:before {
  content: "o";
}
.icon-anchor:before {
  content: "q";
}
.icon-google-plus:before {
  content: "r";
}
.icon-instagram:before {
  content: "s";
}
.icon-bus:before {
  content: "t";
}
.icon-apple:before {
  content: "u";
}
.icon-magnet:before {
  content: "v";
}
.icon-clipboard:before {
  content: "w";
}
.icon-man271:before {
  content: "x";
}
.icon-guru:before {
  content: "y";
}
.icon-plus-circle:before {
  content: "z";
}
.icon-add:before {
  content: "A";
}
.icon-horseshoe13:before {
  content: "B";
}
.icon-horseshoe16:before {
  content: "C";
}
.icon-car95:before {
  content: "D";
}
.icon-apple55:before {
  content: "E";
}
.icon-painter14:before {
  content: "F";
}
.icon-landscape:before {
  content: "G";
}
.icon-drawing20:before {
  content: "H";
}
.icon-art-gallery:before {
  content: "I";
}
.icon-paint-brush-2:before {
  content: "J";
}
.icon-color-palette:before {
  content: "K";
}
.icon-brush:before {
  content: "L";
}
.icon-paint-bucket:before {
  content: "M";
}
.icon-brush-1:before {
  content: "N";
}
.icon-chevron-down:before {
  content: "O";
}
.icon-chevron-left:before {
  content: "P";
}
.icon-chevron-right:before {
  content: "Q";
}
.icon-chevron-up:before {
  content: "R";
}
.icon-angle-down:before {
  content: "S";
}
.icon-angle-left:before {
  content: "T";
}
.icon-angle-right:before {
  content: "U";
}
.icon-angle-up:before {
  content: "V";
}
.icon-globe-world:before {
  content: "W";
}
.icon-twitter:before {
  content: "X";
}
.icon-talk-chat:before {
  content: "Y";
}
.icon-talk-chat-2:before {
  content: "Z";
}
.icon-prize-award:before {
  content: "0";
}
.icon-pin-map:before {
  content: "1";
}
.icon-facebook:before {
  content: "2";
}
.icon-arrow-circle-right-line:before {
  content: "4";
}
.icon-check-mark-circle-two:before {
  content: "5";
}
.icon-check-mark-circle:before {
  content: "6";
}
.icon-check-mark:before {
  content: "7";
}
.icon-linkedin:before {
  content: "e";
}
.icon-mail:before {
  content: "i";
}
.icon-content-34:before {
  content: "p";
}
.icon-content-43:before {
  content: "3";
}
.icon-align-justify:before {
  content: "8";
}
.icon-pin:before {
  content: "9";
}
.icon-list:before {
  content: "!";
}
