/*
Blog Styles
 */
.content-area .grid-container {
    max-width: 75rem;
}

.blog-hero {
    height: 200px;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.blog-hero .heading {
    color: #fff;
    font-size: 2.5rem;
}

.blog.single .entry-content .post-thumbnail {
    float: left;
    padding: 0 1rem 1rem 0;
    max-width: 50%;
}

.blog .entry-content p:first-of-type {
    margin: 0;
}

.blog .entry-title {
    font-size: 2.5rem;
}

.blog .sidebar-heading {
    font-size: 1.875rem;
    margin-bottom: .5rem;
}

.blog .sidebar ul {
    margin: 0 2rem 2rem;
}

.blog .post-categories {
    padding-top: 1rem;
}

.blog .sidebar .form-wrapper form ul {
    margin: 0;
}

.blog .sidebar .form-wrapper form ul li {
    list-style: none;
    margin-bottom: 1rem;
}

.blog .sidebar .form-wrapper form ul li input {
    border: 1px solid;
    width: 100%;
    border-radius: 3px;
}

.blog .sidebar .form-wrapper form {
    position: relative;
    overflow: hidden;
}

.blog .sidebar .form-wrapper form .gform_footer input[type="submit"] {
    min-width: 0;
}

.blog a, .blog a:visited {
    color: #dc6814;
}

.blog .addthis-wrapper {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: .75rem 0;
    margin: 1rem 0;
}

.blog .addthis-wrapper a {
    margin-bottom: 0;
}

.blog .page-title {
    font-size: 2.75rem;
}

.blog.archive .entry-date {
    color: #000;
}

.blog.archive .pagination .nav-links {
    display: flex;
    justify-content: center;
}

.blog.archive .pagination .nav-links .page-numbers.current {
    background: #e1813f;
    border-radius: 3px;
}

.blog.archive .pagination .nav-links .page-numbers {
    margin: 0 .25rem;
}

.blog.archive .pagination .nav-links .page-numbers:not(.current):hover {
    background: transparent;
    text-decoration: underline;
}

.blog a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .blog-hero {
        height: 371px;
    }

    .blog .page-title {
        font-size: 3rem;
    }

    .blog-hero .heading {
        font-size: 4.375rem;
    }
}

