/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*******************
* SITE NAVIGATION
*******************/
/*
* Main Nav
*/
#menu-main {
  list-style-type: none;
  text-align: left;
  padding: 0 10px;
  font-size: initial;
  margin-left: 0;
}

#menu-main > .menu-item {
  text-transform: uppercase;
}

#menu-main .menu-item {
  position: relative;
  padding: 0.5rem 13px 0.5rem 0;
}

#menu-main .menu-item.active {
  padding-bottom: 0;
}

#menu-main .menu-item.link-orange a {
  color: #fe5000;
  opacity: 1;
}

#menu-main .menu-item:after {
  border-top: 1px solid #e7e7e7;
  width: 100%;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
}

#menu-main a {
  color: #2d2d2d;
  text-decoration: none;
}

#menu-main .sub-menu {
  display: none;
  text-transform: none;
  list-style-type: none;
  padding-left: 0;
  margin-left: 10px;
  margin-top: 0.35rem;
}

#menu-main .sub-menu.active {
  display: block;
}

/* closed dropdown */
#menu-main .menu-item.menu-item-has-children .dropdown {
  color: #ed8336;
  position: absolute;
  z-index: 5;
  right: 0;
  font-size: 1.375rem;
  line-height: 1;
  width: 20px;
  height: 36px;
  top: 2px;
  bottom: 0;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-main .menu-item.menu-item-has-children .active + .dropdown {
  top: 0;
}

#menu-main li a:hover {
  cursor: pointer;
}

/* closed dropdown symbol */
#menu-main .menu-item.menu-item-has-children .dropdown:after {
  content: "\002B";
}

/* open dropdown - change symbol */
#menu-main .menu-item.menu-item-has-children .active + .dropdown:after {
  content: "-";
  font-size: 1.625rem;
}

/* Mobile nav bar */
.logo {
  margin-left: auto;
  padding-bottom: 5px;
}

.log-wrap {
  position: absolute;
  top: -4px;
  right: 10px;
  display: flex;
  height: 100%;
  align-items: center;
}

.log-wrap .icon-pin {
  padding: 0 0.5rem;
  font-size: 1.125rem;
}

.log-wrap .store:before {
  background-image: url(/images/marker-grey.png);
  width: 20px;
  height: 20px;
  position: absolute;
}

.nav-opener.opener {
  right: inherit;
  left: 15px;
}

#nav .close {
  left: 15px;
  right: inherit;
}

#nav .icon-close:before {
  left: 0;
  position: absolute;
}

body:not(.nav-active) #nav .close {
  display: none;
}

/*
* Auxiliary Nav
*/
#menu-auxiliary li {
  line-height: 20px;
}

.menu-auxiliary-container a {
  text-decoration: none;
}

.menu-auxiliary-container .link-blue a {
  color: #005abb;
  opacity: 1;
}

.menu-auxiliary-container .link-orange a {
  color: #fe5000;
  opacity: 1;
}

.right-block,
.right-block .log-wrap,
.right-block .log-wrap > div {
  height: 100%;
}

.right-block .log-wrap > div {
  width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-glass {
  display: inline-block;
  height: 23px;
}

.search-glass.desktop {
  display: none;
}

.search-glass svg circle,
.search-glass svg line {
  stroke: #9f9f9f;
  transition: 0.3s;
}

.search-glass:hover {
  cursor: pointer;
}

.search-glass.active svg circle,
.search-glass.active svg line,
.search-glass:hover svg circle,
.search-glass:hover svg line {
  stroke: #f26e24;
}

#header .search-form {
  display: none;
}

#header .search-form.active {
  display: block;
  z-index: 5;
}

#header .search-form {
  position: absolute;
  margin: auto;
  width: 100%;
  left: 0;
  right: 0;
  height: 40px;
}

#header .search-form input[type="search"] {
  border: 1px solid #d7d7d7;
  height: 100%;
  width: 100%;
  font-size: 1rem;
}

#header .search-form input[type="submit"] {
  padding: 5px;
  width: auto;
  min-width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 0;
  font-size: 0.875rem;
}

.search-form .search-submit:hover {
  background-color: #f26e24;
  color: #fff;
  opacity: 1;
}

/*
* Aux Menu in Mobile Nav
*/
#nav #mobile-menu-aux {
  list-style-type: none;
  text-align: left;
  padding: 0 10px;
  font-size: initial;
  margin: 0;
}

#nav #mobile-menu-aux .menu-item {
  position: relative;
  padding: 0.5rem 13px 0.5rem 0;
  text-transform: uppercase;
}

#nav #mobile-menu-aux .menu-item:not(.link-orange):not(.link-blue) a {
  color: #2d2d2d;
  opacity: 1;
}

#nav #mobile-menu-aux .menu-item:after {
  border-top: 1px solid #e7e7e7;
  width: 100%;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
}

#nav #mobile-menu-aux .menu-item:first-of-type:after {
  display: none;
}

@media (min-width: 768px) {
  /*
   * Main Nav
   */
  #menu-main {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    -ms-flex-pack: center; /* Edge */
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  #menu-main .menu-item {
    display: block;
    padding-right: 20px;
    margin-right: 3px;
  }

  #menu-main .menu-item:after {
    border: none;
  }

  #menu-main a {
    z-index: 10;
    position: relative;
    font-size: 0.875rem;
  }

  #menu-main a[href^="http:"]:hover {
    color: #ed8336;
    opacity: 1;
  }

  #menu-main .menu-item .sub-menu .dropdown:after {
    margin-top: 14px;
  }

  #menu-main .sub-menu {
    position: absolute;
    background-color: #fff;
    z-index: 5;
    width: 230px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: calc(100% + 1px);
    -webkit-transition: opacity 0.3s linear, visibility 0.3s linear;
    transition: opacity 0.3s linear, visibility 0.3s linear;
    margin: 0;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }

  #menu-main .sub-menu:before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: -12px;
    background: url(../images/arrow-top.png) no-repeat;
    width: 31px;
    height: 17px;
    z-index: 1;
  }

  #menu-main .sub-menu .menu-item {
    padding: 13px 6px;
    border-bottom: 1px solid #e7e7e7;
    margin: 0;
  }

  /* 1st level dropdown */
  #menu-main .sub-menu .menu-item.active {
    padding-bottom: 0;
  }

  /* 2nd level dropdown */
  #menu-main .sub-menu .sub-menu {
    box-shadow: none;
    padding-top: 10px;
    padding-bottom: 0;
    position: relative;
    overflow: hidden;
  }

  #menu-main .sub-menu .sub-menu:before {
    display: none;
  }

  #menu-main .sub-menu .sub-menu .menu-item {
    padding-left: 15px;
    width: 100%;
  }

  #menu-main .sub-menu .sub-menu .menu-item:first-of-type {
    border-top: 1px solid #e7e7e7;
  }

  #menu-main .sub-menu .sub-menu .menu-item:last-of-type {
    border-bottom: 0;
  }

  /* 3rd level dropdown */
  #menu-main .sub-menu .sub-menu .sub-menu .menu-item {
    padding-left: 25px;
  }

  /*
   * Auxiliary Nav
   */
  .log-wrap {
    display: none;
  }

  .logo {
    margin: auto auto auto 0;
    padding: 0;
  }

  .right-block {
    top: 15px;
  }

  .menu-auxiliary-container {
    display: inline;
  }

  #menu-auxiliary {
    margin: auto;
  }

  #menu-auxiliary .sub-menu {
    display: none;
  }

  .log-res-block {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    max-width: 750px;
  }

  .search-glass.desktop {
    display: block;
    margin-left: 5px;
  }

  .search-glass.desktop {
    margin-right: 0;
    margin-left: 10px;
  }

  .search-glass.desktop svg {
    width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-top: -4px;
  }

  .search-glass {
    margin-right: 0;
    margin-left: 10px;
  }

  .search-glass svg {
    width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-top: -4px;
  }

  #header .search-form {
    top: 5px;
    right: 60px;
    width: 0;
    margin-right: 0;
    transition: width 0.3s;
    display: block;
  }

  #header .search-form.active {
    width: 450px;
  }

  #header .search-form input[type="search"],
  #header .search-form input[type="submit"] {
    padding: 0;
    font-size: 0;
    width: 0;
    border: none;
  }

  #header .search-form.active input[type="search"],
  #header .search-form.active input[type="submit"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #d7d7d7;
  }

  #header .search-form.active input[type="search"] {
    width: 100%;
  }

  #header .search-form.active input[type="submit"] {
    width: auto;
    border-color: #d7d7d7;
  }
}

/*
* Footer
*/
#footer li a {
  text-decoration: none;
}

#menu-footer-2 {
  margin-left: 0;
  list-style-type: none;
  padding-left: 0;
}

#menu-footer-2 li {
  position: relative;
}

#menu-footer-2 li:before {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out 0.2s;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 0;
}

#menu-footer-2 li:hover,
#menu-footer-2 li:focus,
#menu-footer-2 li:hover a,
#menu-footer-2 li:focus a {
  color: #fff;
  opacity: 1;
}

/*
* Home Products Listing
*/
.MPglass.item a {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
}

.MPglass.item .image-wrapper {
  display: flex;
  align-items: center;
}

.MPglass.item .name,
.MPglass.item .price {
  width: 100%;
}

@media (min-width: 1024px) {
  .mp-contacts-section .item .image-wrapper {
    height: 480px;
  }
}

/*******************
* CONTENT AREA
*******************/
/*
* Content Area
*/
.content-area-module {
  padding: 0;
  position: relative;
}

#primary .content-area-module .container {
  padding: 0;
}

#primary .content-area-module .container .inner-wrapper {
  padding: 0 20px;
}

.content-area-module .grid-container .cell {
  padding-top: 1.25rem;
  padding-bottom: 1.5rem;
}

.content-area-module h2 {
  font-size: 1.75rem;
  line-height: 1.071;
  margin-bottom: 31px;
  letter-spacing: 0.9px;
}

.content-area .background-white a {
  color: #005abb;
  font-weight: 500;
}

.content-area .background-blue a,
.content-area .background-blue a:visited,
.content-area .background-orange a,
.content-area .background-orange a:visited {
  color: #fff;
  text-decoration: underline;
}

.content-area-module .button-wrapper {
  min-height: 35px;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.content-area-module .button-wrapper .link {
  opacity: 1;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.content-area-module .background-white .button-wrapper .link {
  background-color: #005abb;
  opacity: 1;
}

.content-area-module .background-orange .button-wrapper .link {
  background-color: #005abb;
  color: #fff;
  opacity: 1;
}

.content-area-module .background-blue .button-wrapper .link {
  background-color: #fe5000;
  color: #fff;
  opacity: 1;
}

/*
* Content Area - Tablet
*/
@media screen and (min-width: 768px) {
  .content-area-module .inner-wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/*******************
* GLOBAL STYLES
*******************/
html body {
  font-family: Arial, sans-serif;
}

html a,
html a:visited {
  color: #005abb;
  opacity: 1;
}

ul,
ol {
  text-align: left;
}

#wrapper {
  padding-top: 26px;
}

.selection-area {
  padding-top: 0;
}

#primary .grid-container {
  max-width: 78.75rem;
  padding-left: 35px;
  padding-right: 35px;
}

.general-content-template .grid-container {
  max-width: 78.75rem;
}

.wp-activate-container {
  padding: 4rem 1rem;
}

/*
* Holiday Messaging
*/
.holiday-messaging p {
  margin-top: 0;
  margin-bottom: 0;
}

/*
* Buttons
*/
.button-hollow {
  border: 1px solid;
  color: #1a334d;
  padding: 1rem 2rem;
  display: inline-block;
  margin: 1rem auto;
  text-transform: uppercase;
}

.button-hollow:hover {
  color: #1a334d;
}

.button-hollow:visited {
  color: #1a334d;
}

.fixed-button {
  background-color: #fe5000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 0.875rem;
  padding: 0.5rem;
  z-index: 5;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.fixed-button:visited {
  color: #fff;
  opacity: 1;
}

/*
* Text
*/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/*
* Background Colors
*/
.background-blue *,
.background-blue-gradient *,
.background-navy *,
.background-orange *,
.background-blue-orange *,
.background-orange-blue * {
  color: #fff;
  opacity: 1;
}

.background-blue {
  background-color: #005abb;
  color: #fff;
  opacity: 1;
}

.background-blue-gradient {
  background: linear-gradient(to bottom, #005abb, #0094da);
  color: #fff;
  opacity: 1;
}

.background-orange {
  background-color: #fe5000;
  color: #fff;
  opacity: 1;
}

.background-navy {
  background-color: #12334f;
  color: #fff;
  opacity: 1;
}

.background-orange-blue {
  background: linear-gradient(165deg, #9f6951 4%, #75676a 20%, #005abb 58%);
  color: #fff;
  opacity: 1;
}

.background-blue-orange {
  background: linear-gradient(165deg, #005abb 4%, #75676a 20%, #fe5000 58%);
  color: #fff;
  opacity: 1;
}

.background-white {
  background-color: #fff;
  opacity: 1;
}

/*.background-white .title,*/
/*.background-white .subhead {*/
/*color: #005ABB;*/
/*opacity: 1;*/
/*}*/

.background-white .button-wrapper .link {
  color: #fff;
  opacity: 1;
}

.background-dark-grey {
  background-color: #2d2d2d;
  color: #fff;
  opacity: 1;
}

.background-magenta {
  background-color: #9d237b;
  color: #fff;
  opacity: 1;
}

/*
* Back Button
*/
.back-btn,
.back-btn a {
  font-size: 1.25rem;
  color: #2495d1;
  transition: 0.5s;
}

.back-btn:hover,
.back-btn:hover a {
  cursor: pointer;
  color: #ed8336;
}

/*
* Font Awesome Icons
*/
.fab {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
* Alert Banner
*/
.alert-banner {
  position: absolute;
  width: 100%;
  padding: 0.5rem 0 0.5rem 1rem;
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
}

.alert-banner .container {
  max-width: 1150px;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
}

.alert-banner .message {
  width: 90%;
  font-size: 0.75rem;
}

.alert-banner .message * {
  line-height: 1.25;
  margin-bottom: 0;
}

.alert-banner .x-button {
  font-size: 2rem;
  line-height: 0.5;
}

.alert-banner .x-button:hover {
  cursor: pointer;
}

/*
* Alert Banner - Tablet
*/
@media screen and (min-width: 768px) {
  .alert-banner {
    padding: 0.75rem 0 0.75rem 1rem;
  }

  .alert-banner .message {
    text-align: center;
    font-weight: bold;
  }
}

/*
* Alert Banner - Desktop
*/
@media screen and (min-width: 1200px) {
  .alert-banner .message {
    font-size: 1rem;
    width: 95%;
  }

  .alert-banner .x-button {
    top: 0;
    line-height: 1.5rem;
  }
}

/*
* GLOBAL STYLES - Tablet
*/
@media screen and (min-width: 768px) {
  #main {
    padding-top: 37px;
  }

  #wrapper {
    padding-top: 68px;
  }

  .show-for-small-only {
    display: none !important;
  }

  .fixed-button {
    right: -87px;
    left: auto;
    bottom: auto;
    top: 68%;
    transform: rotate(-90deg);
    padding: 0.5rem 1.25rem;
  }
}

/*
* GLOBAL STYLES - Desktop
*/
@media screen and (min-width: 1200px) {
  #main {
    padding-top: 56px;
  }

  #menu-main .menu-item {
    margin-right: 35px;
  }

  #menu-main a {
    font-size: 1rem;
  }
}

/*******************
* Search Results
*******************/
/* When search results are found */
.search-results {
  padding-top: 0rem;
}

.search-results .container {
  padding: 0 0.75rem;
}

.search-results .page-content {
  margin-top: 0;
}

.search-results .banner .text-container h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0;
}

.search-input-wrapper {
  position: relative;
  max-width: 280px;
  margin: auto;
}

.search-results .search-form {
  font-size: 1.25rem;
  margin: 2rem 0;
  padding-right: 32px;
}

.search-input-wrapper .search-field {
  background-color: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding-left: 0;
}

.search-results input:focus {
  color: #fff;
  border-color: #fff;
}

.search-input-wrapper input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: transparent;
  color: transparent;
  border: none;
  width: 45px;
  padding: 0;
  min-width: 1px;
}

.search-results .search-form .search-submit:hover {
  background-color: transparent;
  color: transparent;
  border-color: transparent;
}

.search-input-wrapper .search-glass {
  position: absolute;
  top: 0px;
  right: 15px;
  margin: 0;
  height: 43px;
  width: 30px;
  pointer-events: none;
}

.search-input-wrapper .search-glass svg {
  width: 25px;
  height: 25px;
}

.search-input-wrapper .search-glass svg circle,
.search-input-wrapper .search-glass svg line {
  stroke: #fff;
}

.search-results .entry-title {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.search-results .entry-summary,
.search-results .entry-summary * {
  margin: 0;
}

.search-results .entry-title a:visited {
  color: #ed873e;
  opacity: 1;
}

.search-results .item {
  padding: 1rem 1.5rem;
}

.search-results .item:first-of-type {
  padding-top: 2rem;
}

.search-results .item:last-of-type {
  padding-bottom: 2rem;
}

.search-results .entry-title a {
  text-decoration: none;
}

/*
* Search Results Navigation
*/
.search-results .posts-navigation {
  padding: 1rem 0 0;
}

.search-results .posts-navigation .nav-links {
  max-width: 600px;
  margin: auto;
  display: flex;
}

.search-results .posts-navigation .nav-previous,
.search-results .posts-navigation .nav-next {
  float: none;
  padding: 0 1.5rem;
  position: relative;
}

.search-results .posts-navigation .nav-next a:after {
  content: ">";
  position: absolute;
  right: 5px;
}

.search-results .posts-navigation .nav-previous a:before {
  content: "<";
  position: absolute;
  left: 5px;
}

/* When no search results are found */
.no-results {
  position: relative;
  padding-bottom: 2rem;
}

.no-results .search-form {
  width: 300px;
  position: relative;
  margin: 1rem 0 0 0;
}

.no-results .search-form input[type="search"] {
  width: 100%;
  color: #000;
}

.no-results .search-form input[type="search"],
.no-results .search-form input[type="submit"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #d7d7d7;
}

.no-results .search-form input[type="submit"] {
  width: auto;
  border-color: #d7d7d7;
  min-width: initial;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

/*******************
* 404
*******************/
.not-found .search-form {
  max-width: 1400px;
  margin: 2rem auto 0;
}

@media screen and (min-width: 768px) {
  .search-results #main {
    padding: 4.5rem 0rem 2rem;
    margin: auto;
  }

  .search-results h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .search-results .entry-title {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .search-results .item-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
  }

  .search-results .item-wrapper .item {
    width: 100%;
    text-align: center;
  }
}

/*******************
* Hero - Interior Pages / Module
*******************/
/****** General ******/
.banner .link .text-wrapper {
  padding: 1rem 1.75rem 1rem 0.75rem;
  background-color: #fff;
  color: #005abb;
  display: inline-block;
  margin: 2rem auto 0;
  text-decoration: none;
  text-align: center;
}

/****** Image ******/
.banner.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner.image .mobile-image {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner.image .text-container .container {
  background-color: #fff;
  padding: 1rem;
}

.banner.image .container h1 {
  font-size: 1.75rem;
}

.banner.image .container .blurb {
  margin-top: 1rem;
}

.banner.image.text-blue .container *:not(.text-wrapper) {
  color: #12334f;
  opacity: 1;
  text-shadow: none;
}

.banner.image.text-black .container *:not(.text-wrapper) {
  color: #000;
  opacity: 1;
  text-shadow: none;
}

.banner.image.text-blue .link .text-wrapper,
.banner.image.text-black .link .text-wrapper {
  background-color: #fe5000;
  color: #fff;
  opacity: 1;
}

.banner.image.text-white .link .text-wrapper {
  border: 1px solid #12334f;
  border-radius: 0;
  color: #12334f;
  position: relative;
  background: inherit;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.4);
}

.banner.image.text-white .link .text-wrapper:after {
  top: 0;
  left: 0;
  content: "";
  filter: blur(5px);
}

.banner.image .container *:not(.text-wrapper) .icon-arrow {
  color: #fff;
}

/****** Colors ******/
/* Buttons */
.link .text-wrapper {
  background-color: #005abb; /*#fe5000;*/
  display: inline-block;
  color: #fff;
  opacity: 1;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 1rem;
  min-width: 260px;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}

/* sitewide change to make all buttons orange */
/*.text-white .link .text-wrapper {
  border: 1px solid #12334f;
  border-radius: 0;
  color: #12334f;
  position: relative;
  background: inherit;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.4);
}*/

.link .text-wrapper .icon-arrow {
  /*position: absolute;*/
  /*right: 8px;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*display: flex;*/
  /*align-items: center;*/
  padding-left: 5px;
}

.text-white .link .text-wrapper:after {
  top: 0;
  left: 0;
  content: "";
  filter: blur(5px);
}

.banner.color .text-container {
  position: relative;
  padding: 50px 1rem;
  text-align: center;
}

.banner.color .text-container h1 {
  margin-bottom: 0;
}

.banner.background-orange .link .text-wrapper,
.banner.background-blue-orange .link .text-wrapper {
  background-color: #005abb;
  color: #fff;
  opacity: 1;
  border: none;
}

@media screen and (max-width: 767px) {
  .banner.text-white .text-container .container h1,
  .banner.text-white .text-container .container .blurb {
    color: #fff;
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .banner.image {
    min-height: 400px;
    display: flex;
    align-items: center;
  }

  .banner.image .text-container {
    width: 1260px;
    margin: auto;
  }

  .banner.image .text-container .container {
    max-width: 60%;
  }

  .banner.image .text-container .container {
    background-color: transparent;
    opacity: 1;
  }

  .banner.image.block-left .text-container .container {
    margin-left: 0;
  }

  .banner.image.block-right .text-container .container {
    margin-left: auto;
    margin-right: 0;
  }

  .banner.image.block-center .text-container .container {
    margin: auto;
  }

  .banner .link .text-wrapper {
    padding: 1rem 2rem 1rem 1rem;
  }
}

@media screen and (min-width: 1200px) {
  #header {
    min-height: initial;
  }

  .banner.image {
    min-height: 500px;
  }

  .banner.image .container h1 {
    font-size: 3rem;
  }

  .banner.image .container .blurb {
    font-size: 1.25rem;
  }
}

/*
* Home Hero - New (which is now old -NV)
*/

/*
.home-hero .slide.text-white {
  color: #fff;
  opacity: 1;
}

.home-hero .slide.text-blue {
  color: #12334f;
  opacity: 1;
}

.home-hero .slide.text-black {
  color: #000;
  opacity: 1;
}
*/
.home-hero.lower > .inner-wrapper {
  background: #fff;
  position: relative;
}

.slide-main-text {
  color: #fff;
  font-size: 2rem;
}

.home-hero .slide-container .slide {
  position: relative;
}

/*

.home-hero .slide-container .slide .full-image-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.home-hero .slide-container .slide .mobile-hero {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
}

.home-hero .slide-container .slide .inner-wrapper {
  position: relative;
  max-width: 375px;
}

.home-hero .slide-container .slide .block-container {
  display: flex;
  height: 100%;
  min-height: 450px;
  align-items: center;
  padding: 1rem 1rem 3rem;
}

.home-hero .slide-container .slide .block-container .inner-wrapper .offer-wrap {
  display: flex;
}

.home-hero .slide-container .slide .block-container .inner-wrapper .offer-wrap .left {
  font-size: 9rem;
  line-height: 1;
}

.home-hero .slide-container .slide .block-container .inner-wrapper .offer-wrap .right .sign {
  font-size: 2.5rem;
  line-height: 1;
}

.home-hero .slide-container .slide .block-container .inner-wrapper .offer-wrap .right .text {
  font-size: 1.75rem;
  line-height: 1;
  text-transform: uppercase;
}

.home-hero .slide-container .slide .block-container .inner-wrapper .blurb.legal {
  font-size: .75rem;
}

.home-hero .slide-container .slide .inner-wrapper .button-wrap {
  padding-bottom: .5rem;
}

.home-hero .slide .container {
  padding: 0;
}

.home-hero .slide .container h2 {
  font-size: 1.75rem;
  letter-spacing: 4px;
  line-height: 1;
}

.home-hero .slide-container .slide.block-center .block-container {
  justify-content: center;
}

.home-hero .slide-container .slide.block-right .block-container {
  justify-content: flex-end;
}
*/

.home-hero .hero-content-area {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.slide-main-text {
  padding: 120px 150px 0px 60%;
  font-size: 3rem;
}

.slide-main-text h2 {
  font-size: 3.5rem;
  margin: 0;
  line-height: 1.1;
}

.slide-main-text p {
  margin: 0;
  line-height: 1;
}

.slide-additional-text {
  padding: 20px 150px 20px 60%;
}

.slide-additional-text p {
  margin: 0;
}

.home-hero .slide-cta {
  padding: 0px 150px 0 60%;
}

.home-hero .slide-cta a {
  padding: 15px 20px;
  letter-spacing: 0px;
  font-weight: bold;
  border: solid 1px #fff;
  min-width: 250px;
  text-align: center;
  display: inline-block;
}

/* /NV New April 2019 */

.home-hero .slick-dots button {
  width: 75px;
  border-radius: 0;
  height: 3px;
  background: #fff;
  text-decoration: none;
  pointer-events: none;
}

.home-hero .slick-dots li.slick-active button {
  background: #fe5000;
  opacity: 1;
}

.home-hero.carousel {
  position: relative;
  width: 100%;
}

.home-hero .lower-inner {
  position: relative;
  background: #fff;
}

@media screen and (min-width: 768px) {
  .home-hero .slide-container .slide {
    background-position: center;
    background-size: cover;
  }

  .home-hero .slide-container .slide,
  .home-hero .slide-container .slide .block-container {
    min-height: 525px;
  }

  .home-hero
    .slide-container
    .slide
    .block-container
    .inner-wrapper
    .offer-wrap
    .left {
    font-size: 12rem;
  }

  .home-hero
    .slide-container
    .slide
    .block-container
    .inner-wrapper
    .offer-wrap
    .right
    .sign {
    font-size: 4.5rem;
  }

  .home-hero
    .slide-container
    .slide
    .block-container
    .inner-wrapper
    .offer-wrap
    .right
    .text {
    font-size: 2rem;
  }

  .home-hero .slide-container .slide.heading .block-container {
    align-items: center;
  }

  .home-hero .hero-content-area h1 {
    font-size: 1.5rem;
  }

  .home-hero .slide-container .slide.heading .block-container .text-container {
    max-width: 60%;
    width: auto;
  }
  .home-hero .text-container.top,
  .home-hero .text-container.middle,
  .home-hero .text-container.bottom {
    margin: unset !important;
  }

  .home-hero .slide-container .slide .block-container {
    padding: 1rem 1rem 5rem;
  }
}
@media screen and (min-width:768px) and (max-width: 1199px) {
  .slide-main-text {
    padding: 120px 50px 0px 50%;
  }
  .slide-additional-text {
    padding: 20px 50px 20px 50%;
  }
}
@media screen and (min-width: 1200px) {
  .home-hero .slide-container .slide,
  .home-hero .slide-container .slide .block-container {
    min-height: 560px;
  }

  .home-hero .slide-container .slide.offer .block-container {
    align-items: center;
  }

  .home-hero .slide-container .slide .inner-wrapper {
    max-width: 540px;
  }

  .home-hero
    .slide-container
    .slide
    .block-container
    .inner-wrapper
    .offer-wrap
    .left {
    font-size: 16rem;
  }

  .home-hero
    .slide-container
    .slide
    .block-container
    .inner-wrapper
    .offer-wrap
    .right
    .sign {
    font-size: 6.5rem;
  }

  .home-hero
    .slide-container
    .slide
    .block-container
    .inner-wrapper
    .offer-wrap
    .right
    .text {
    font-size: 2.5rem;
  }

  .home-hero .hero-content-area {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .home-hero .hero-content-area h1 {
    font-size: 2rem;
  }

  .home-hero .slide .container h2 {
    font-size: 3.125rem;
  }
}

/* Banner & Home Hero - Mobile */
.home-hero .text-container {
  width: 100%;
}
.home-hero .text-container.top {
  margin: 0 auto auto auto;
}
.home-hero .text-container.middle {
  margin: auto;
}
.home-hero .text-container.bottom {
  margin: auto auto 0 auto;
}

.slide-additional-text .large-text {
  font-size: 2.5rem;
}

.slide-additional-text .large-text p {
  line-height: 1.1;
}

@media screen and (max-width: 767px) {
  .slide-additional-text .large-text {
    font-size: 1.25rem;
    text-align: center;
    padding: 0 1rem;
  }

  .home-hero .slide .slide-main-text-wrapper {
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
  }

  .slide-main-text {
    font-size: 1.75rem;
    padding: 0 20px;
    text-align: center;
  }

  .slide-main-text p {
    margin: 0;
    line-height: 1;
  }

  .slide-additional-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: 0px;
    padding: 0;
  }

  .slide-additional-text p {
    margin: 0.5rem 0;
  }

  div.inner {
    padding-bottom: 19px;
  }

  .home-hero .slide-cta {
    display: none;
    justify-content: center;
    align-items: center;
    background: #ccc;
    text-align: center;
    padding: 5px 5px 1rem;
  }

  .slide-cta button {
    margin: auto;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 0;
    background: rgba(254, 80, 0, 1);
    color: rgba(255, 255, 255, 1);
  }

  .home-hero .slide-container .slide .mobile-hero {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .home-hero .slide-container .slide .inner-wrapper {
    position: relative;
    max-width: 375px;
  }

  .home-hero .slide-container .slide .block-container {
    display: flex;
    height: 100%;
    min-height: 450px;
    align-items: center;
    padding: 1rem 1rem 3rem;
  }

  .slick-dots {
    top: 365px;
  }

  .home-hero
    .slide-container
    .slide
    .block-container
    .inner-wrapper
    .offer-wrap {
    display: flex;
  }

  .home-hero
    .slide-container
    .slide
    .block-container
    .inner-wrapper
    .offer-wrap
    .left {
    font-size: 9rem;
    line-height: 1;
  }

  .home-hero
    .slide-container
    .slide
    .block-container
    .inner-wrapper
    .offer-wrap
    .right
    .sign {
    font-size: 2.5rem;
    line-height: 1;
  }

  .home-hero
    .slide-container
    .slide
    .block-container
    .inner-wrapper
    .offer-wrap
    .right
    .text {
    font-size: 1.75rem;
    line-height: 1;
    text-transform: uppercase;
  }

  .home-hero
    .slide-container
    .slide
    .block-container
    .inner-wrapper
    .blurb.legal {
    font-size: 0.75rem;
  }

  .home-hero .slide-container .slide .inner-wrapper .button-wrap {
    padding-bottom: 0.5rem;
  }

  .home-hero .slide .container {
    padding: 0;
  }

  .home-hero .slide {
    letter-spacing: 4px;
    line-height: 1;
    font-size: 1rem;
  }

  .home-hero .slide-cta a {
    min-width: 50%;
  }

  .home-hero .slide h2 {
    font-size: 1.75rem;
  }

  .home-hero .slide-container .slide.block-center .block-container {
    justify-content: center;
  }

  .home-hero .slide-container .slide.block-right .block-container {
    justify-content: flex-end;
  }

  .home-hero.carousel {
    position: relative;
    width: 100%;
  }

  .home-hero .lower-inner {
    position: relative;
    background: #fff;
  }
}

/*******************
* Product Listing Template
*******************/
/*#product-list-wrapper {*/
/*padding-top: 26px;*/
/*}*/

@media screen and (min-width: 768px) {
  .select-appointment-block {
    padding: 0;
    width: 220px;
    margin: auto;
    display: inline-block;
  }

  .select-appointment-block .fa-search {
    top: 25px;
  }

  /*#product-list-wrapper {*/
  /*padding-top: 67px;*/
  /*}*/
}

@media screen and (min-width: 768px) {
  /*.product-list-wrapper {*/
  /*padding-top: 11px;*/
  /*}*/
}

/*******************
* Basic Form Elements - Dropdown JCF
*******************/
.jcf-select-drop-content {
  border: 1px solid;
}

.jcf-select-drop-content .jcf-option {
  font-size: 0.875rem;
  font-weight: 400;
}

.jcf-select-drop-content .jcf-list-content li {
  padding: 4px 0;
}

.jcf-select-drop-content .jcf-list-content li:hover span {
  background-color: #ed8336;
  color: #fff;
  cursor: pointer;
}

/*******************
* Booking Form Elements - Successful Appointment Scheduled
*******************/
#birs_booking_success {
  position: relative;
  padding-top: 1rem;
  max-width: 800px;
  margin: auto;
}

#birs_booking_success h3 {
  padding: 1rem 1rem 0;
}

#birs_booking_success .row {
  background-color: #f5f5f5;
  padding: 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#birs_booking_success .row .cell {
  width: 100%;
  padding-right: 1rem;
  margin-bottom: 1.25rem;
}

#birs_booking_success .row .cell:last-of-type {
  margin-bottom: 0;
}

#birs_booking_success .row .cell h4 {
  margin-bottom: 0;
}

#birs_booking_success .row .cell .data {
  overflow-wrap: break-word;
}

@media screen and (min-width: 768px) {
  #birs_booking_success .row {
    margin-bottom: 1rem;
    padding: 2rem 4rem;
  }

  #birs_booking_success .row .cell {
    width: 45%;
    padding-right: 1rem;
  }

  #birs_booking_success .row .cell:first-of-type {
    margin-right: 10%;
  }
}

/*******************
* Disclaimer Template
*******************/
.disclaimer .button-wrapper {
  display: block;
  margin: 1rem auto 0;
}

@media screen and (min-width: 768px) {
  .disclaimer .button-wrapper {
    display: inline-block;
    margin-right: 1rem;
  }
}

/*
* Social Links Module
*/

.social-links-module {
  padding: 1rem 0;
  position: relative;
}

.social-links-module .social-networks .icon:after {
  height: 36px;
  background: #fff;
  width: 36px;
  font-size: 1.25rem;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.social-links-module .social-networks .icon:hover:after {
  background-color: inherit;
  color: #fff !important;
  opacity: 1;
}

.social-links-module .social-networks {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

.social-links-module .social-networks > li {
  padding: 0 0.5rem;
}

.social-links-module .social-networks a {
  text-decoration: none;
  font-size: 2rem;
}

.social-links-module .heading-wrapper .heading {
  font-size: 1.25rem;
}

.social-links-module.background-blue .social-networks .icon:after,
.social-links-module.background-orange-blue .social-networks .icon:after {
  color: #005abb;
  opacity: 1;
}

.social-links-module.background-orange .social-networks .icon:after,
.social-links-module.background-blue-orange .social-networks .icon:after {
  color: #fe5000;
  opacity: 1;
}

.social-links-module.background-magenta .social-networks .icon:after {
  color: #9d237b;
  opacity: 1;
}

/*
* Social Links Module - Tablet
*/
@media screen and (min-width: 768px) {
  .social-links-module .inner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-links-module .heading-wrapper .heading {
    margin: 0;
    padding-right: 1rem;
  }
}

/*
* Social Links Module - Desktop
*/
@media screen and (min-width: 1200px) {
  .social-links-module .heading-wrapper .heading {
    font-size: 1.5rem;
  }
}

/*
* Mosaic CTAs
*/
.mosaic-ctas {
  padding: 2rem 0;
  background: #fff;
  position: relative;
}

.mosaic-ctas .cta {
  min-height: 238px;
  background-size: cover;
  background-position: center center;
  margin: 0.5rem 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.mosaic-ctas .cta .mosaic-heading {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
}

.mosaic-ctas .cta .mosaic-heading.light {
  color: #fff;
  opacity: 1;
}

.mosaic-ctas .cta .overlay.light {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0.5));
}

.mosaic-ctas .cta .mosaic-heading.dark {
  color: #1a334d;
  opacity: 1;
}

.mosaic-ctas .cta .overlay.dark {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0) 66%, rgba(255, 255, 255, 0.5));
}

.mosaic-ctas .cta-column {
  width: 284px;
  margin: auto;
}

.mosaic-ctas .button-container {
  text-align: center;
}

/*
* Mosaic CTAs - Tablet
*/
@media screen and (min-width: 768px) {
  .mosaic-ctas .cta-column {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .mosaic-ctas .cta {
    height: 100%;
    margin: 0.25rem;
  }

  .mosaic-ctas .cta-column.one {
    width: 50%;
  }

  .mosaic-ctas .cta-column.two,
  .mosaic-ctas .cta-column.three {
    width: 25%;
  }

  .mosaic-ctas .cta-column .link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .mosaic-ctas .cta-container {
    display: flex;
  }

  .mosaic-ctas .cta-column.two .link:first-of-type {
    height: 66%;
  }

  .mosaic-ctas .cta-column.two .link:first-of-type .cta {
    min-height: 0;
  }

  .mosaic-ctas .cta-column.three .link:first-of-type {
    height: 100%;
  }
}

/*
* Mosaic CTAs - Desktop
*/
@media screen and (min-width: 1200px) {
}

/*
* Sign Up Banner
*/
.sign-up-banner {
  padding: 2rem 0;
  position: relative;
}

.sign-up-banner .form-wrapper .email-input input {
  background: transparent;
  color: #fff;
  width: 100%;
  border-bottom: 1px solid;
  padding-left: 0;
}

.sign-up-banner .form-wrapper .email-sign {
  position: relative;
}

.sign-up-banner .form-wrapper .email-input input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
  opacity: 1;
}

.sign-up-banner .form-wrapper .email-input input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  opacity: 1;
}

.sign-up-banner .form-wrapper .email-input input:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
  opacity: 1;
}

.sign-up-banner .form-wrapper .email-input input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  opacity: 1;
}

.sign-up-banner .form-wrapper .email-sign .email-submit {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.sign-up-banner .inner-wrapper .form-wrapper {
  max-width: 480px;
}

/*
* Sign Up Banner - Desktop
*/
@media screen and (min-width: 1200px) {
  .sign-up-banner .inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sign-up-banner .inner-wrapper .form-wrapper {
    width: 480px;
  }
}

/*
* Find a Store
*/
.find-a-store {
  padding: 2rem 0;
  background-size: cover;
  background-position: center;
  position: relative;
}

.find-a-store .search-form {
  max-width: 350px;
  position: relative;
}

.find-a-store .search-form .search {
  background: transparent;
  color: #fff;
  border-bottom: 1px solid;
  width: 100%;
  padding-left: 0;
}

.find-a-store .search-form .go {
  position: absolute;
  top: 0;
  right: 0;
}

.find-a-store .search-form .search::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
  opacity: 1;
}

.find-a-store .search-form .search::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  opacity: 1;
}

.find-a-store .search-form .search:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
  opacity: 1;
}

.find-a-store .search-form .search:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  opacity: 1;
}

.find-a-store.dark .heading,
.find-a-store.dark .search-form .search {
  color: #364c64;
  opacity: 1;
}

.find-a-store.dark .search-form .search::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #364c64;
  opacity: 1;
}

.find-a-store.dark .search-form .search::-moz-placeholder {
  /* Firefox 19+ */
  color: #364c64;
  opacity: 1;
}

.find-a-store.dark .search-form .search:-ms-input-placeholder {
  /* IE 10+ */
  color: #364c64;
  opacity: 1;
}

.find-a-store.dark .search-form .search:-moz-placeholder {
  /* Firefox 18- */
  color: #364c64;
  opacity: 1;
}

/*
* Find a Store - Tablet
*/
@media screen and (min-width: 768px) {
  .find-a-store {
    padding: 4rem 0;
  }
}

/*
* Find a Store - Desktop
*/
@media screen and (min-width: 1200px) {
  .find-a-store {
    padding: 6.5rem 0;
  }
}

/*
* Link Blocks
*/
.link-blocks {
  padding: 2rem 0;
  background: #fff;
  position: relative;
}

.link-blocks .block {
  min-height: 200px;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  margin: 0.125rem 0;
  color: #fff;
}

.link-blocks .block .link-wrapper {
  transform: scaleY(0);
  transition: 0.5s;
  transform-origin: bottom;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  z-index: 2;
}

.link-blocks .block .label-outside {
  position: absolute;
  bottom: 1rem;
  transition: 0.5s;
  z-index: 2;
  transform-origin: top;
}

/*.link-blocks .block.active .heading {*/
/*bottom: 9rem;*/
/*}*/

.link-blocks .block .link-wrapper .link {
  color: #fff;
  display: inline-block;
}

.link-blocks .block:after {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-image: inherit;
  background-position: center center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
}

html[data-whatintent="touch"] .link-blocks .block.active:after,
html[data-whatintent="mouse"] .link-blocks .block:hover:after {
  opacity: 1;
}

html[data-whatintent="touch"] .link-blocks .block.active .link-wrapper,
html[data-whatintent="mouse"] .link-blocks .block:hover .link-wrapper {
  transform: scaleY(1);
}

html[data-whatintent="touch"] .link-blocks .block.active .label-outside,
html[data-whatintent="mouse"] .link-blocks .block:hover .label-outside {
  transform: scaleY(0);
}

/*html[data-whatintent="touch"] .link-blocks .block.active .heading.outside,*/
/*html[data-whatintent="mouse"] .link-blocks .block:hover .heading.outside {*/
/*transform: scaleY(0);*/
/*}*/

.link-blocks .block .link-wrapper hr {
  margin: 1rem 0;
}

.link-blocks .block:before {
  background: linear-gradient(rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.5));
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  content: "";
  z-index: 2;
  width: 100%;
  position: absolute;
}

.link-blocks .block .link-wrapper .link:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width 0.3s;
}

.link-blocks .block .link-wrapper .link:hover:after {
  width: 100%;
}

/*
* Link Blocks - Tablet
*/
@media screen and (min-width: 768px) {
  .link-blocks .block {
    min-height: 300px;
    margin: 0.125rem;
  }

  .link-blocks .block .link-wrapper {
    bottom: 3rem;
  }

  .link-blocks .block .link-wrapper .link-wrap {
    margin-bottom: 0.25rem;
  }
}

/*
* Link Blocks - Desktop
*/
@media screen and (min-width: 1200px) {
}
