#the-post.inline-ads-on [id^=google_ads_iframe]{display: none;}

/* Global Header */
.content-toggle-icon{height: 100%; padding-left: 10px;}
.content-toggle-icon > a{display: flex !important; height: 100%; align-items: center; justify-content: center;}
.content-toggle-icon .content-toggle-logo{width: 30px;}
.content-toggle-icon.freightwaves .content-toggle-logo{width: 27px;}
.content-toggle-icon .white{display: none;}
.content-toggle-icon .content-toggle-title{display: none;}
.content-toggle-icon.freightwaves{display: none;}
.category-american-shipper .content-toggle-icon.freightwaves, .page-template-template-american-shippers .content-toggle-icon.freightwaves{display: inline-block;}
.category-american-shipper .content-toggle-icon.american-shipper, .page-template-template-american-shippers .content-toggle-icon.american-shipper{display: none;}
.components{float:right;display:flex;}
.components li{float:none;order:1}
.components li.search-compact-icon{order:0}

@media(max-width: 991px){
  .content-toggle-icon{border: none !important; padding-left: 0px;}
  .content-toggle-icon .white{display: inline-block;}
  .content-toggle-icon .colored{display: none;}
  .content-toggle-icon .content-toggle-title{display: inline-block;}
  .content-toggle-icon  > a{justify-content: flex-start;}
  .content-toggle-icon .content-toggle-title{padding-left: 10px;font-size: 16px;line-height: 22px;font-weight: 600;}
  #mobile-container .components{display: flex; flex-wrap: wrap;}
  #mobile-container .components .content-toggle-icon{width: 100%;}
  #mobile-container .components .content-toggle-icon.freightwaves,
  #mobile-container .components .content-toggle-icon.american-shipper{margin-bottom: 30px;}
}

/* American Shipper Branding */
header #logo.american-shipper{margin-top: 41px;margin-bottom: 20px;}
header #logo.american-shipper img{width: 600px;height: 70px;max-height: 70px; width: auto;}
.as-header-banner{margin: 0; display: block;}
.as-header-banner iframe{margin: 30px 0 0;}
.skyscraper-ad{display: none;}
.category-american-shipper .skyscraper-ad, .page-template-template-american-shippers .skyscraper-ad{display: inline-block; margin-bottom: 30px;}

@media(max-width: 991px){
	header #logo.american-shipper{margin-bottom: 10px !important;}
	header #logo.american-shipper img{height: 20px;}
}

/* Widgets */
.widget-area{padding: 20px;}
#fw-ticker-widget-area{margin-top: 30px; padding: 0px 15px;}

/* Custom Stock Ticker */
.fw-ticker-widget{display: flex;position: relative;width: 100%;height: 32px;background: white; justify-content: center;}
.fw-ticker-widget .fw-ticker-content{display: flex;align-items: center;height: 100%;border: 1px solid rgba(0,0,0,0.1);border-radius: 3px; max-width: 100%;}
.fw-ticker-widget .fw-ticker-controls{display: inline-block;width: 32px;text-align: center;justify-content: center;height: 100%;line-height: 27px;border-right: 1px solid rgba(0,0,0,.1); cursor: pointer; min-width: 32px;}
.fw-ticker-inner{overflow: hidden; white-space: nowrap; display: inline-block; height: 100%;}
.fw-ticker-inner.pause .fw-ticker-list{animation-play-state: paused !important;}
.fw-ticker-inner.hard-pause .fw-ticker-list{animation-play-state: paused !important;}
.fw-ticker-widget .fw-ticker-inner .fw-ticker-list{list-style: none;display: inline-block;margin: 0;padding: 0; overflow: hidden; white-space: nowrap;}
.fw-ticker-widget .fw-ticker{color: #000; cursor: default; text-decoration: none;display: inline-block;line-height: 30px;padding: 0 10px;font-family: sans-serif; font-size: 12px;}
/*.fw-ticker-widget .fw-ticker:hover{background: #0f74bc;}*/
.fw-ticker-widget .fw-ticker .fw-ticker-link:hover{color: #3475b6;}
/*.fw-ticker-widget .fw-ticker:hover .fw-ticker-market-price, .fw-ticker-widget .fw-ticker:hover .fw-ticker-label{color: white;}*/
.fw-ticker-widget .fw-ticker .fw-ticker-label{display: inline;font-weight: 900; color: black;}
.fw-ticker-widget .fw-ticker .fw-ticker-market-price{display: inline;font-size: 12px;font-family: sans-serif;}
.fw-ticker-widget .fw-ticker .fw-ticker-direction{display: inline-block;vertical-align: baseline;vertical-align: initial;}
.fw-ticker-widget .fw-ticker .fw-ticker-direction-positive{width: 0;height: 0;border-style: solid;border-width: 0 5px 10px;border-color: transparent transparent #1ecd93;}
.fw-ticker-widget .fw-ticker .fw-ticker-direction-negative{width: 0;height: 0;border-style: solid;border-width: 10px 5px 0;border-color: #ff433d transparent transparent;}
.fw-ticker-widget .fw-ticker .fw-ticker-value{display: inline;padding: 2px 5px;border-radius: 3px;font-family: sans-serif;font-size: 12px;}
.fw-ticker-widget .fw-ticker .fw-ticker-value-positive{background-color: #9cf4dc;}
.fw-ticker-widget .fw-ticker .fw-ticker-value-negative{background-color: #ffe1e1;}
.fw-ticker-inner.active #first-ticker{animation: marquee 160s linear infinite;}
.fw-ticker-inner.active #second-ticker{display: inline-block;animation: marquee2 160s linear infinite;}
.fw-ticker-widget .tooltip{position: absolute;top: 100%;width: 100%;max-width: 270px; margin-top: -1px;}
#first-ticker {display: inline-block;}
#second-ticker {display: none;animation-delay: 1s;}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Tooltips */
.tooltip{opacity: 1 !important; padding-top: 11px;}
.tooltip .content{background: white;padding: 15px;border-radius: 5px;border: 1px solid rgba(0,0,0,0.1); cursor: default; font-weight: 500;}
.tooltip a{margin-top: 10px;font-weight: bold;display: inline-block;}
.tooltip:after, .tooltip:before {bottom: calc(100% - 12px);left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.tooltip:after {border-color: rgba(255, 255, 255, 0);border-bottom-color: #ffffff;border-width: 10px;margin-left: -10px;}
.tooltip:before {border-color: rgba(194, 225, 245, 0);border-bottom-color: rgba(0,0,0,0.1);border-width: 11px;margin-left: -11px;}

/* Featured Video Player */
.featured-videos-player{display: flex;}
.featured-videos-player .video-player{flex: 1 0 auto;background: black;align-items: center; justify-content: center; display: flex;}
.featured-videos-player .video-player .loading{animation: spin 5s infinite linear; display: flex; align-items: center; justify-content: center; color: #3475b6; font-size: 50px;}
.featured-videos-player .video-list-wrap{flex-basis: 265px;overflow: hidden;height: 335px;background: #1a1b1f;color: white;}
.featured-videos-player .video-list-wrap .player-header{background: #3475b6;display: flex;padding: 10px; height: 63px;}
.featured-videos-player .video-list-wrap .player-header .icon-wrap{width: 50px;align-items: center;display: flex;justify-content: center;font-size: 28px;}
.featured-videos-player .video-list-wrap .player-header .title-wrap .title{font-size: 20px; margin-bottom: 0px;}
.featured-videos-player .video-list-wrap .player-header .title-wrap .details{line-height: 16px;font-size: 11px;}
.featured-videos-player .video-list-wrap .video-list{height: calc(100% - 63px); margin: 0px;padding: 0px;}
.featured-videos-player .video-list-wrap .video-list .video-listing{transition: background .5s;cursor: pointer; padding: 10px 15px;display: flex;overflow: auto;padding-left: 17px;border-bottom: 1px solid rgba(170, 170, 170, .15);padding-top: 16px; margin-bottom: 0px;}
.featured-videos-player .video-list-wrap .video-list .video-listing:hover{background: #25272c;}
.featured-videos-player .video-list-wrap .video-list .video-listing .preview-area{width: 200px;background-size: cover; background-position: center; background-repeat: no-repeat; flex-basis: 30%; height: 60px;}
.featured-videos-player .video-list-wrap .video-list .video-listing .preview-area .video-index{background: #1a1b1f;border-radius: 30px;display: inline-block;padding: 3px 6px;line-height: 12px;font-size: 11px;position: relative;top: -11px;left: -9px;box-shadow: 0px 0px 5px rgba(52, 117, 182, 1);color: #aaa;border: 1px solid rgba(52, 117, 182, 1); }
.featured-videos-player .video-list-wrap .video-list .video-listing .video-details{padding-left: 10px; flex-basis: 70%;}
.featured-videos-player .video-list-wrap .video-list .video-listing .video-details .title{font-size: 12px;line-height: 17px;font-family: 'Poppins'; margin-bottom: 5px;}
.featured-videos-player .video-list-wrap .video-list .video-listing .video-details .length{line-height: 15px;font-size: 11px;color: #aaaaaa;}
.featured-videos-player .os-scrollbar-vertical{width: 8px !important;}
.featured-videos-player .os-scrollbar-handle{background-color: rgb(52,117,182) !important;}
.featured-videos-player .os-content{padding: 0px;}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/* Power Review Style Updates */
#pr-reviewsnippet .p-w-r{margin-bottom: 20px;}

/* Social Sharing Plugin Style Fix */
.post-footer .share-links span.fab{display: flex;align-items: center;justify-content: center;height: 100%;font-size: 16px;}

/* Font Awesome Fixes */
.author-info .fa, #latest_tweets_widget-1 .fa, footer #site-info .fa{font-family: FontAwesome;}

/* Tightening the main menu for more items */
@media (min-width: 992px) {
  #main-nav .menu > .menu-item-has-children:not(.is-icon-only) > a,
  #main-nav .menu .mega-menu:not(.is-icon-only) > a {
    padding-right: 18px;
  }
  #main-nav .menu-item-has-children > a:before,
  #main-nav .mega-menu > a:before {
    right: 6px;
  }
  .header-menu .menu .sub-menu a {
    padding: 6px 10px;
    line-height: 1.375;
  }
}

/* Bottom margin for video stream */
aside.sidebar .text-html-box {
  margin-bottom: 30px;
}

/* Piano alignment and z-indexes */
#tie-wrapper, .main-slider {
  z-index: auto !important;
}
.post-cat-wrap {
  z-index: auto !important;
}
.tp-iframe-wrapper {
  margin: 110px 0 0 !important;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
.tp-backdrop.tp-active {
  z-index: auto !important;
}
.tp-modal {
  z-index: 1 !important;
}

/* Sticky nav line break issue */
@media ( min-width: 992px ) {
  #sticky-logo {
    max-width: 250px;
  }
}
.stream-item {
  z-index: auto !important;
}

/* Mobile menu fix */
.side-aside {
  z-index: 1000 !important;
}

/* FW Flexbox Shortcode */
.fw-flexbox {
  display: flex;
  flex-direction: column;
}
.fw-flexbox > * {
  flex: 1 0 auto
}
.fw-flexbox > *:empty {
  display: none;
}
@media (min-width: 480px) {
  .fw-flexbox {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .fw-flexbox > * {
    flex-basis: 50%;
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .fw-flexbox {
    justify-content: space-between;
  }
}
/* FW Live Subnav */
.live-subnav p {
  display: flex;
  padding: 0 1rem;
}
@media (min-width: 1024px) {
  .live-subnav p {
    flex-basis: 12.5%;
    width: 12.5%;
  }
}
.live-subnav a {
  align-items: center;
  border-left: 3px solid #0393ff;
  color: black !important;
  display: flex;
  font-size: 1rem;
  line-height: 1.1;
  font-weight: 900;
  padding: .25rem .5rem;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .live-subnav a {
    padding: .25rem .75rem;
  }
}