.banner .sign-in-link{float:right;font-size:12px;margin-top:5px}
.banner .form-title{text-align:center;overflow:hidden}
.signup-new-user fieldset{margin:0.5em 0}
.signup-new-user fieldset.errorFields p.small{display:inline-block;color:inherit}
.signup-new-user fieldset p.small{display:none;margin-bottom:0}
.signup-new-user select,.signup-new-user input[type="text"]{background-color:white;height:36px;width:100%}
.signup-new-user p.alignCenter{margin-bottom:0}
.signup-new-user button.submit-free-user{width:100%;margin:1em 0}
.signup-new-user button.submit-free-user[disabled]{background-color:#bbecfa;color:white}
.signup-new-user button.submit-free-user[disabled]:hover{background-color:#a3e5f8}