/* CSS Document */

a.hrb-button          { background-color: #6bdbd8; color:#000 !important; display:inline-block; width:auto; line-height: 24px; text-align: center; font-size: 14px; border-radius:6px; margin: 0;  transition: all .2s ease-in-out; font-family: 'Roboto', sans-serif; text-decoration:none; font-weight:700; vertical-align:top; }
a.hrb-button.green    { background-color: #caf171; }
a.hrb-button.default  { background-color: #e9eef2; }
a.hrb-button.primary  { background-color: #202020; color:#fff !important; }

a.hrb-button.sm   { padding: 8px 30px; font-size: 14px;  }
a.hrb-button.md   { padding: 12px 30px; font-size: 14px; }
a.hrb-button.lg   { padding: 18px 40px; font-size: 14px; }
a.hrb-button.max  { width:100%; max-width:320px; }

a.hrb-button:hover          { background-color: #6acbca; color:#000; text-decoration: none; box-shadow: 0 4px 16px rgba(107,219,216,.4); }
a.hrb-button.green:hover    { background-color: #c0e95b; color:#000; text-decoration: none; box-shadow: 0 4px 16px rgba(202,241,113,.65); }
a.hrb-button.default:hover  { background-color: #cfd9de; color:#000; text-decoration: none; box-shadow: 0 4px 16px rgba(230,236,239,.65); }
a.hrb-button.primary:hover  { background-color: #535353; color:#fff; text-decoration: none; box-shadow: 0 4px 16px rgba(230,236,239,.65); }

a.hrb-button:active, a.hrb-button:focus { transform: translateY(4px); }

a.hrb-button:active, a.hrb-button:focus                 { color:#000; }
a.hrb-button.green:active, a.hrb-button.green:focus     { color:#000; }
a.hrb-button.default:active, a.hrb-button.default:focus { color:#000; }
a.hrb-button.primary:active, a.hrb-button.primary:focus { color:#fff; }





a.inlined	{ color:#111; font-size:14px; line-height:14px; text-transform: none; margin:0; position: relative; display: inline; z-index: 1; padding: 2px 4px; font-weight:700; text-decoration:none; }
a.inlined::after { display:inline-block; width:100%; height: 40%; background-color: rgba(107,219,216,.4); content:' '; position: absolute; bottom: 0; left:0; z-index: -1; transition: all .2s ease-in-out; }
a.inlined:hover { color:#111; outline:none; text-decoration: none; }
a.inlined:active, a.inlined:focus { color:#111; outline:none; }
a.inlined:hover::after, a.inlined:active::after, a.inlined:focus::after { height:100%; background-color:#6bdbd8; border-radius:3px; }



