.region-left-column .grey-block-new.citations-block,
.region-right-column .grey-block-new.citations-block {
  padding: 0;
  background: none;
  border: none;
  width: 140px;
  margin: auto;
  position: relative;
}

.citation .citation-header {
  margin: 0 0 20px;
  cursor: pointer;
}
.citation .citation-header:focus {
  outline:1px dotted #A8A8A8;
}

.citation .citation-content {
  display: none;
}

.citation .citation-content h3 {
  font-size: 1em;
  margin: 0;
}

.citation .citation-content p {
  font-size: .9em;
  margin: 0 !important;
}

.horizontal-flyout-header {

}

span.pointer-background {
  border-bottom: 1px solid #A8A8A8;
}

.horizontal-flyout-title {
  margin: 5px;
  text-align: center;
  font-weight: normal;
  font-size: 1.1em;
}



.horizontal-flyout-title:before {
  content: "\201C";
  color: #004863;
  font-weight: bold;
  font-size: 3em;
  font-family: arial;
  position: absolute;
  left: -24px;
  top: 12px;
}

.jquery-hide-view-content .view-content {
  display: none;
}

.citation .citation-content {
  position: absolute;
  padding: 1em;
  background: #F6F6F6;
  left: inherit;
  right: 135%;
  top: -15px;
  border: 1px solid #CACACA;
  z-index: 100;
  word-wrap: break-word;
  word-break: break-word;
  width: 300%;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.citation .citation-content:after, .citation .citation-content:before {
  left: 100%;
  top: 28px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.citation .citation-content:after {
  border-color: rgba(246, 246, 246, 0);
  border-left-color: #f6f6f6;
  border-width: 15px;
  margin-top: -15px;
}

.citation .citation-content:before {
  border-color: rgba(170, 170, 170, 0);
  border-left-color: #aaa;
  border-width: 16px;
  margin-top: -16px;
}

.copy-message {
  display: none;
  padding-top: 4px;
}

.selectme {
  padding: 1em 0;
  border-bottom: 1px solid #A2A2A2;
  border-top: 1px solid #A2A2A2;
}

@media only screen and (max-width: 767px) {
  .citation .citation-content {
    right: -50%;
    top: auto;
    bottom: 40px;
    width: 240px;
  }

  .citation .citation-content:after,
  .citation .citation-content:before {
    left: 45%;
    top: auto;
    bottom: -30px
  }

  .citation .citation-content:after {
    border-color: rgba(246, 246, 246, 0);
    border-top-color: #f6f6f6;
    border-left-color: none;
    border-width: 15px;
    margin-top: -12px;
  }

  .citation .citation-content:before {
    border-color: rgba(170, 170, 170, 0);
    border-top-color: #aaa;
    border-left-color: none;
    border-width: 15px;
    margin-top: -10px;
  }
}
button.tab-button {
  background: #E1E1E1;
  box-shadow:none;
  color: #333;
  border-radius: 4px 4px 0 0;
  margin-right: .5rem;
  border-bottom: none;
  border-color: #A2A2A2;
  margin-bottom: 0;
  text-shadow: none;
  font-size: 1em;
  padding: .5em 1em;
  font-weight: normal;
}
button.tab-button:focus {
  background: #4092b8;
  box-shadow:none;
  color:#FFF;
  outline:1px dotted #A2A2A2;
}
button.tab-button:hover {
  background: #4092b8;
  color:#FFF;
}

button.tab-button.active {
  background: #054c68;
  color: #FFF;
  border-color: #054c68;
  margin-bottom: 0;
  box-shadow:none;
}