@media screen and (max-width: 48em) {

  #navigation {
    width: 100%;
    height: 25px;
    max-width: 480px;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
  }

  #navigation > ul {
    width: 100%;
    height: 45px;
    padding: 0 10px;
    border-left: none;
    white-space: nowrap;
    box-sizing: border-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  #navigation > ul > li {
    display: inline-block;
    float: none;
  }

  #navigation > ul > li:last-child {
    border-right: none;
  }

  #topbar > #options {
    width: 100%;
    box-sizing: border-box;
  }

  #topbar > #options > ul.sitenavi > li,
  #topbar > #options > ul.sitetools > li {
    display: none;
    padding: 2px 4px;
    background: none;
  }

  #topbar > #options > ul.sitenavi > li:nth-child(2),
  #topbar > #options > ul.sitenavi > li:nth-child(3),
  #topbar > #options > ul.sitetools > li:nth-last-child(2),
  #topbar > #options > ul.sitetools > li:last-child {
    display: block;
  }

  #header {
    width: 100%;
    max-width: 480px;
    box-sizing: border-box;
  }

  #header #title {
    float: none;
    width: 100%;
  }

  #header > #title > a > img[width="450"] {
    width: 100%;
    height: auto;
  }

  #header > #title > a > img[width="190"] {
    display: none;
  }

  #header > #title > h2 {
    line-height: 1.3em;
  }

  #header form {
    display: none;
  }

  #page {
    width: 100%;
    max-width: 480px;
    box-sizing: border-box;
  }

  #page > #content {
    float: none;
    width: 100%;
    box-sizing: border-box;
  }

  #page > #content > div.imageFull {
    max-width: 100%;
  }

  #page > #content > div.imageFull > iframe {
    max-width: 100%;
  }

  #page > #content > #article-tools {
    height: 165px;
    overflow: hidden;
  }

  #page > #content > #article-tools > p {
    margin: 20px 0 15px 0;
  }

  #page > #content > #article-tools > ul > li {
    height: 35px;
  }

  #page > #sidebar {
    float: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
  }

  #page > #sidebar > .column {
    width: 50%;
    margin-left: 0;
    box-sizing: border-box;
  }

  #page > #sidebar > .column:first-child {
    padding-right: 5px;
  }

  #page > #sidebar > .column:last-child {
    padding-left: 5px;
  }

  #page > #sidebar > .column img {
    width: 100%;
    max-width: 100%;
  }

  #footer {
    width: 100%;
    box-sizing: border-box;
  }

  #footer > p {
    text-align: center;
  }

  #footer > p.right {
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }

  #footer > p.right > a {
    white-space: nowrap;
  }

}
