p.caption, .description p {
	font-size: 1em;
}

a .caption {
	color: #777;
}

.light_text h1,
.light_text h2,
.light_text h3,
.light_text h4,
.light_text h5,
.light_text h6,
.light_text p,
.light_text b,
.light_text a,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark p,
.dark b,
.dark a {
	color: #fff;
}


.sixtwenty_special-report.columns_2 {
	width: 48%;
	margin-left: 1%;
	margin-right: 1%;
	float: left;
}

.sixtwenty_special-report .report_info img.sr_image {
	width: 50%;
	float: left;
}

.sixtwenty_special-report.column_thirds-left .report_info img.sr_image {
	width: 33%;
}

.sixtwenty_special-report.columns_full img.sr_image {
	width: 100%;
}



.sixtwenty_special-report .report_info {
	clear: both;
	margin-bottom: 0px;
}

.sixtwenty_special-report .report_info .report_data {
	width: 47%;
	margin-left: 3%;
	float: left;
}

.sixtwenty_special-report.column_thirds-left .report_info .report_data {
	width: 62%;
}

.sixtwenty_special-report.columns_full .report_info .report_data {
	width: 100%;
}

.sixtwenty_special-report .report_info .report_data h3.title {
	font-weight: 700;
	font-size: 1.3em;
}

.sixtwenty_special-report .report_info .report_data .caption {
	font-size: 1em;
}

.sixtwenty_special-report .report_info .report_data .caption {
	line-height: 1.2em;
}


.sixtwenty_special-report .wpcf7 {
	width: 100%;
}

.sixtwenty_special-report .wpcf7 input,
#et-boc .sixtwenty_special-report .wpcf7 input {
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 8px;
	padding-bottom: 8px;
}

.sixtwenty_special-report .wpcf7 input[type="email"],
#et-boc .sixtwenty_special-report .wpcf7 input[type="email"] {
	color: #777;
	margin: 4px 0;
	border: solid 1px #777;
}

.sixtwenty_special-report .wpcf7 input[type="submit"],
#et-boc .sixtwenty_special-report .wpcf7 input[type="submit"],
.sixtwenty_posts form.mc4wp-form input[type="submit"] {
	border: none;
	color: #fff;
	background-color: #333;
}

.sixtwenty_special-report .wpcf7 input[type="submit"]:hover,
#et-boc .sixtwenty_special-report .wpcf7 input[type="submit"]:hover {
	background-color: #777;
}

.sixtwenty_video h3 {
	font-size: 1.1em;
}

.textwidget .sixtwenty_special-report {
	
	margin-bottom: 15px;
	
}

.sixtwenty_posts,
.sixtwenty_articles {
	clear: both;
}

.sixtwenty_articles a.article_link {
	display: inline-block;
}

.sixtwenty_posts .sixtwenty_post,
.sixtwenty_articles a.article_link {
	margin-bottom: 45px;
}

.sixtwenty_posts .sixtwenty_post .download_form form input[type='text'], 
.sixtwenty_posts .sixtwenty_post .download_form form input[type="email"], 
.sixtwenty_posts .sixtwenty_post .download_form form input[type="submit"],
#et-boc .sixtwenty_posts .sixtwenty_post .download_form form input[type='text'], 
#et-boc .sixtwenty_posts .sixtwenty_post .download_form form input[type="email"], 
#et-boc .sixtwenty_posts .sixtwenty_post .download_form form input[type="submit"] 
{
	padding: 5px;
	text-align: center;
	margin-bottom: 5px;
	font-size: 1.3em;
}

.sixtwenty_posts .sixtwenty_post.columns_1 .download_form form input[type='text'], 
.sixtwenty_posts .sixtwenty_post.columns_1 .download_form form input[type="email"], 
.sixtwenty_posts .sixtwenty_post.columns_1 .download_form form input[type="submit"],
#et-boc .sixtwenty_posts .sixtwenty_post.columns_1 .download_form form input[type='text'], 
#et-boc .sixtwenty_posts .sixtwenty_post.columns_1 .download_form form input[type="email"], 
#et-boc .sixtwenty_posts .sixtwenty_post.columns_1 .download_form form input[type="submit"]  
{
	width: 100%;
	float: none;
	
}

.sixtwenty_posts .sixtwenty_post.columns_2 .download_form form input[type='text'], 
.sixtwenty_posts .sixtwenty_post.columns_2 .download_form form input[type="email"], 
.sixtwenty_posts .sixtwenty_post.columns_2 .download_form form input[type="submit"],
#et-boc .sixtwenty_posts .sixtwenty_post.columns_2 .download_form form input[type='text'], 
#et-boc .sixtwenty_posts .sixtwenty_post.columns_2 .download_form form input[type="email"], 
#et-boc .sixtwenty_posts .sixtwenty_post.columns_2 .download_form form input[type="submit"] 
{
	width: 50%;
	float: left;
	
}

.sixtwenty_posts .sixtwenty_post.columns_3 .download_form form input[type='text'], 
.sixtwenty_posts .sixtwenty_post.columns_3 .download_form form input[type="email"], 
.sixtwenty_posts .sixtwenty_post.columns_3 .download_form form input[type="submit"],
.sixtwenty_posts .sixtwenty_post.columns_4 .download_form form input[type='text'], 
.sixtwenty_posts .sixtwenty_post.columns_4 .download_form form input[type="email"], 
.sixtwenty_posts .sixtwenty_post.columns_4 .download_form form input[type="submit"],
#et-boc .sixtwenty_posts .sixtwenty_post.columns_3 .download_form form input[type='text'], 
#et-boc .sixtwenty_posts .sixtwenty_post.columns_3 .download_form form input[type="email"], 
#et-boc .sixtwenty_posts .sixtwenty_post.columns_3 .download_form form input[type="submit"],
#et-boc .sixtwenty_posts .sixtwenty_post.columns_4 .download_form form input[type='text'], 
#et-boc .sixtwenty_posts .sixtwenty_post.columns_4 .download_form form input[type="email"], 
#et-boc .sixtwenty_posts .sixtwenty_post.columns_4 .download_form form input[type="submit"] 
{
	width: 100%;

}

.sixtwenty_post.video .post_data {
	padding-top: 15px;
}


/***** LIGHT YOUTUBE *****/

.youtube-player {
  position: relative;
  padding-bottom: 55%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 0;
}
.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}
.youtube-player img {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: .4s all;
  -moz-transition: .4s all;
  transition: .4s all;
}
.youtube-player img:hover {
  -webkit-filter: brightness(75%);
  -moz-filter: brightness(75%);
}
.youtube-player .play {
        height: 72px;
        width: 72px;
        left: 50%;
        top: 50%;
        margin-left: -36px;
        margin-top: -36px;
        position: absolute;
        background: url("//i.imgur.com/TxzC70f.png") no-repeat;
        cursor: pointer;
    }




#et-boc .columns_2,
.columns_2 {
	width: 48%;
	margin: 15px 1%;
	float: left;
}

#et-boc .columns_3,
.columns_3 {
	width: 30%;
	margin: 15px 1.5%;
	float: left;
}

#et-boc .columns_4,
.columns_4 {
	width: 23%;
	margin: 15px 1%;
	float: left;
}

.columns_2:nth-child(odd),
#et-boc .columns_2:nth-child(odd) {
	margin-left: 0;
	margin-right: 2%;
}

.columns_2:nth-child(even),
#et-boc .columns_2:nth-child(even) {
	margin-left: 2%;
	margin-right: 0;
}

.columns_3:nth-child(3n+1),
#et-boc .columns_3:nth-child(3n+1) {
	margin-left: 0;
	margin-right: 3%;
}

.columns_3:nth-child(3n+0),
#et-boc .columns_3:nth-child(3n+0) {
	margin-left: 3%;
	margin-right: 0;
}

.columns_4:nth-child(4n+1),
#et-boc .columns_4:nth-child(4n+1) {
	margin-left: 0;
	margin-right: 1%;
}

.columns_4:nth-child(4n+0),
#et-boc .columns_4:nth-child(4n+0) {
	margin-left: 1%;
	margin-right: 0;
}

/*** Responsive Styles Large Desktop And Above ***/
@media all and (min-width: 1405px) {
 
}
/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) and (max-width: 1405px) {

}
/*** Responsive Styles Laptops and Above ***/
@media all and (min-width: 981px) {
         
}
/*** Responsive Styles Laptops and Large Tablets ***/
@media all and (min-width: 981px) and (max-width: 1099px) {

}
/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {
}
/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {
	
	.sixtwenty_articles .article_link.columns_4,
	#et-boc .sixtwenty_articles .article_link.columns_4 {
		width: 48%;
		margin-left: 1%;
		margin-right: 1%;
	}
 
}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
 .sixtwenty_special-report.columns_2,
 .sixtwenty_special-report .report_info img.sr_image,  
 .sixtwenty_special-report.column_thirds-left .report_info img.sr_image,
 .sixtwenty_special-report .report_info .report_data,
 .sixtwenty_posts .sixtwenty_post,
 .sixtwenty_articles .article_link,
 #et-boc .sixtwenty_special-report.columns_2,
 #et-boc .sixtwenty_special-report .report_info img.sr_image,  
 #et-boc .sixtwenty_special-report.column_thirds-left .report_info img.sr_image,
 #et-boc .sixtwenty_special-report .report_info .report_data,
 #et-boc .sixtwenty_posts .sixtwenty_post,
 #et-boc .sixtwenty_articles .article_link
 {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		float: none;
	}
	
	.sixtwenty_special-report .report_info img.sr_image,
	.sixtwenty_video .report_info img.src_image,
	.sixtwenty_video .youtube-player
	{
		margin-bottom: 10px !important;
	}


}
/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 479px) {
 	
 	nav.ubermenu ul.ubermenu-submenu li.ubermenu-item .sixtwenty_articles > a.article_link, 
 	nav.ubermenu ul.ubermenu-submenu li.ubermenu-item .sixtwenty_posts > .sixtwenty_post {
	 	width: 100%;
 	}
}