@font-face {
  font-display: swap;
  font-family: 'Solano Gothic', 'Helvetica', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('https://download.fortune.com/fonts/solano_gothic.woff') format('woff'),
    url('https://download.fortune.com/fonts/solano_gothic.woff2') format('woff2');
}

/* SAOL TEXT */

@font-face {
  font-display: swap;
  font-family: 'Saol Text';
  font-style: normal;
  src: url('https://download.fortune.com/fonts/SaolText-Regular.woff2') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Saol Text';
  font-style: normal;
  src: url('https://download.fortune.com/fonts/SaolText-Bold.woff2') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Saol Text';
  font-style: normal;
  font-weight: 300;
  src: url('https://download.fortune.com/fonts/SaolText-Light.woff2') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Saol Text';
  font-style: normal;
  font-weight: 500;
  src: url('https://download.fortune.com/fonts/SaolText-Medium.woff2') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Saol Text';
  font-style: normal;
  font-weight: 600;
  src: url('https://download.fortune.com/fonts/SaolText-Semibold.woff2') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Saol Text';
  font-style: italic;
  src: url('https://download.fortune.com/fonts/SaolText-BoldItalic.woff2') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Saol Text';
  font-style: italic;
  src: url('https://download.fortune.com/fonts/SaolText-LightItalic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Saol Text';
  font-style: italic;
  font-weight: 500;
  src: url('https://download.fortune.com/fonts/SaolText-MediumItalic.woff2') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Saol Text';
  font-style: italic;
  font-weight: 600;
  src: url('https://download.fortune.com/fonts/SaolText-SemiboldItalic.woff2') format('woff');
}

/* SAOL TEXT BOOK */

@font-face {
  font-display: swap;
  font-family: 'Saol Text Book';
  font-style: normal;
  src: url('https://download.fortune.com/fonts/SaolText-Book.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Saol Text Book';
  font-style: italic;
  src: url('https://download.fortune.com/fonts/SaolText-BookItalic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Saol Text Regular';
  font-style: italic;
  src: url('https://download.fortune.com/fonts/SaolText-RegularItalic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Saol Text Monospaced';
  font-style: normal;
  font-weight: 800;
  src: url('https://download.fortune.com/fonts/SaolText-Monospaced.woff') format('woff');
}

/* GRAPHIK */

@font-face {
  font-display: swap;
  font-family: 'Graphik';
  src: url('https://download.fortune.com/fonts/Graphik-Regular-Web.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Graphik';
  font-weight: 200;
  src: url('https://download.fortune.com/fonts/Graphik-Thin-Web.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Graphik';
  font-weight: 400;
  src: url('https://download.fortune.com/fonts/Graphik-Regular-Web.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Graphik';
  font-weight: 600;
  src: url('https://download.fortune.com/fonts/Graphik-Semibold-Web.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Graphik';
  font-weight: 700;
  src: url('https://download.fortune.com/fonts/Graphik-Bold-Web.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Graphik';
  font-weight: 500;
  src: url('https://download.fortune.com/fonts/Graphik-Medium-Web.woff2') format('woff2');
}

/* GRAPHIK COMPACT */

@font-face {
  font-display: swap;
  font-family: 'Graphik Compact';
  font-weight: 500;
  src: url('https://download.fortune.com/fonts/GraphikCompact-Medium-Web.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Graphik Compact';
  font-weight: 700;
  src: url('https://download.fortune.com/fonts/GraphikCompact-Semibold-Web.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Graphik Compact';
  src: url('https://download.fortune.com/fonts/GraphikCompact-Regular-Web.woff2') format('woff2');
}

/* GRAPHIK CONDENSED */

@font-face {
  font-display: swap;
  font-family: 'Graphik Condensed';
  src: url('https://download.fortune.com/fonts/GraphikCondensed-Semibold-Web.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Graphik Condensed';
  font-weight: 200;
  src: url('https://download.fortune.com/fonts/GraphikCondensed-Semibold-Web.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Graphik Condensed';
  font-weight: 300;
  src: url('https://download.fortune.com/fonts/GraphikCondensed-Light-Web.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Graphik Condensed';
  font-weight: 400;
  src: url('https://download.fortune.com/fonts/GraphikCondensed-Regular-Web.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Graphik Condensed';
  font-weight: 500;
  src: url('https://download.fortune.com/fonts/GraphikCondensed-Medium-Web.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Graphik Condensed';
  font-weight: 600;
  src: url('https://download.fortune.com/fonts/GraphikCondensed-Semibold-Web.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Graphik Condensed';
  font-weight: 700;
  src: url('https://download.fortune.com/fonts/GraphikCondensed-Bold-Web.woff2') format('woff2');
}

/* BLOKK */

@font-face {
  font-display: swap;
  font-family: 'BLOKK';
  font-style: normal;
  font-weight: 400;
  src: url('https://download.fortune.com/fonts/BLOKKNeue-Regular.woff') format('woff');
}

/* MILLER */

@font-face {
  font-display: swap;
  font-family: 'Miller';
  font-weight: 400;
  src: url('https://download.fortune.com/fonts/MillerText-Roman.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Miller';
  font-style: bold;
  font-weight: 700;
  src: url('https://download.fortune.com/fonts/MillerText-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Miller';
  font-style: italic;
  font-weight: 700;
  src: url('https://download.fortune.com/fonts/MillerText-BoldItalic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Miller';
  font-style: italic;
  src: url('https://download.fortune.com/fonts/MillerText-Italic.woff') format('woff');
}


/*# sourceMappingURL=https://fortune.com/static/js/fonts.map?v=36dc3334*/