@import url("fonts.css");

/* This snippet is to hide the sidebar and expand the contentwell if there is no sidebar content */
/* Uncomment if needed for pages */

/*
#frontsidebar {
	display: none !important;
}

#frontcontent {
	width: 100% !important;
	max-width: unset;
}

#frontcontent #topnews, #frontcontent #topnews .sectionteaser {
	max-width: unset;
}
*/
/* End hide sidebar code */


#topnews .teaserdate, #morenews .teaserdate, #sectioncontent .teaserdate {
 display: none;
}
#header-logo {
	background-image: url(/english/benarlogo.png);
}


#servicetopstory #topstory {
	min-height: 375px;
}

.graybox h2 a, .graybox li a, .graybox a, .graybox p a, .graybox div p a, .graybox div a {
	color: #003366;
}

.graybox h3 {
	color: #333333;
}

div.content {
  font-size: 12px;
  line-height: 20px;
}

#storycontent div {
	font-size: 12px;
	line-height: 20px;
}

#storycontent #dateline {
	line-height: 14px;
	width: 280px;
}

.twitter-horizontal-count, .twitter-share-button {
	width: 90px !important;
}

.storytoptoollanguage li {
	font-size: 11px;
}

.emaillegend {
	width: 110px;
}

#storypagemaincontent p {
	font-size: 12px;
}

div.currentWeatherContainer {
	display: none;
}

#storycontent h1, #contentwell h1 {
        line-height: 1;
}

#editorspickitems h3 {
        font-size: 10px;
	overflow: visible;
	white-space: normal;
}


#sectioncontent.jobsinternships {
    border-top: none;
}

#sectioncontent.jobsinternships .shadowbox {
    float: left;
    margin-right: 15px;
    width: 293px;
}

#sectioncontent.jobsinternships .shadowbox h2.jobs {
    background: #0F4787;
    color: #FFFFFF;
    padding: 5px;
    width: 255px;
    font-size: 16px;
}

#sectioncontent.jobsinternships .shadowbox h2.internships {
    background: #1B8E38;
    color: #FFFFFF;
    padding: 5px;
    width: 255px;
    font-size: 16px;
}
#sectioncontent.jobsinternships .shadowbox p {
    width: 275px;
}

.jobsinternships .shadowbox .sectionteaser {
    width: 266px !important;
}

#sectioncontent.jobsinternships .graybox {
    width: 266px;
    margin-top: 10px;
}

#sectioncontent.jobsinternships .graybox div p {
    width: 245px;
}

.jobdescription {
    margin-top: 20px;
    width: 266px;
}

.jobdescription h2 {
    width: 266px;
}

#footer-logo-address {
	background-image: url(/english/footerlogoaddress.png);
}



@media screen and (max-width: 640px) {

	#footer-logo-address {
		background-image: url(/english/footerlogoaddress640.png);
	}
}

@media screen and (max-width: 475px) {

	#aboutnav {
		top: -90px !important;
	}
	
}

@media screen and (max-width: 363px) {

	#header-logo {
		background-size: 100%;
		margin-left: 10px;
	}

	
}

@media screen and (max-width: 350px) {

	#aboutnav {
		display: none !important;
	}
	
}
