@charset "utf-8";

/************************************************
project : 연합뉴스 영어 데스크탑
commnet : 언어 css
*************************************************/


.en #header .logo a{width:174px;height:22px;margin:6px 0 0 -89px}
.latest-news .date{right:0;}
.latest-news .latest-news-slide .slick-list .slick-slide{width:520px !important;}

/* .btn-play-s{position:absolute;top:28% !important;left:50%;z-index:2;width:45px;height:45px;margin:-22px 0 0 -22px;background:url(../img/sprites_video.png) -120px -10px no-repeat;}
.btn-play-s span{display:block;font-size:0;text-indent:-9999px;} */

.txt-type03.space04 span{margin-top:-3px;}

/* 다음영상 타이틀 서체 */
.media-top-box .right-con .next-video .tit{font-family:'Playfair Display',serif;}

.aside-floating01{position:absolute;top:-33px;right:-140px;} /* 메인 플로팅 배너 */

/* nknow 본문 버튼 기능 안 됨 */
.view-nknow .social-btns .btn-share,
.view-nknow .social-btns .btn-like,
.view-nknow .social-btns .btn-save{display:none !important;}