@charset "utf-8";

/************************************************
project : 연합뉴스 다국어 데스크탑
commnet : 공통 레이아웃, 특집, 배너 등 운영
*************************************************/


/* =============== 공지 배너 ======================== */
/* ---- aside-bnr01  : 기본형 ---- */
[class*='aside-bnr']{overflow:hidden;position:relative;box-sizing:border-box;}
[class*='aside-bnr'] .inner{display:block;position:relative;width:100%;height:100%;margin:0 auto;}
[class*='aside-bnr'] .inner a{display:block;height:100%;}

/* 이미지형 img */
.aside-bnr01{}
.aside-bnr01 a{}

/* 배경 */
.aside-bnr02{width:100%;height:75px;text-align:center;}
.aside-bnr02 [class*='txt-con']{position:relative;width:100%;height:100%;text-indent:-9999px;}

/* 2019북미 정상회담 배너 2019-02-21
 * aside-bnr01 적용 전 코드 */
.bnr-wrap01{overflow:visible;position:relative;height:65px;margin:0 0 15px;background:url(/ad/img/2019/sprite_summit2019_global_web05.png) 0 -300px no-repeat;}
.bnr-wrap01 .con a{display:block;position:relative;height:100%;}
.bnr-wrap01 .con .txt{overflow:hidden;position:absolute;z-index:1;top:8px;left:50%;height:50px;background:url(/ad/img/2019/sprite_summit2019_global_web05.png) 0 50% no-repeat;text-indent:-9999px;}
html.en .bnr-wrap01 .con a{width:285px;}
html.en .bnr-wrap01 .con .txt{width:260px;left:24px;background-position:0 0;}
html.zh .bnr-wrap01 .con .txt{width:242px;margin-left:-121px;background-position:0 -50px;}
html.ja .bnr-wrap01 .con .txt{width:370px;margin-left:-185px;background-position:0 -100px;}
html.ar .bnr-wrap01 .con .txt{width:376px;margin-left:-188px;background-position:0 -150px;}
html.es .bnr-wrap01 .con .txt{width:428px;margin-left:-214px;background-position:0 -200px;}
html.fr .bnr-wrap01 .con .txt{width:410px;margin-left:-205px;background-position:0 -250px;}

.lang-select01{position:absolute;z-index:10;width:118px;top:15px;right:20px;padding-bottom:4px;border-bottom:1px solid #fff;color:#fff;text-align:left;}
.lang-select01 .txt{padding-left:3px;color:#fff;}
.lang-select01 .txt i{position:absolute;top:6px;right:2px;width:10px;height:10px;margin:0 0 3px 10px;box-sizing:border-box;border-right:1px solid #fff;border-bottom:1px solid #fff;
-webkit-transition:all 0.2s ease;
-moz-transition:all 0.2s ease;
-o-transition:all 0.2s ease;
-ms-transition:all 0.2s ease;
transition:all 0.2s ease;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-ms-transform:rotate(45deg);
transform:rotate(45deg);}
.lang-select01.active .txt i{margin:0 0 0 10px;
-webkit-transform:rotate(-135deg);
-moz-transform:rotate(-135deg);
-ms-transform:rotate(-135deg);
transform:rotate(-135deg)}
.lang-select01 ul{overflow:hidden;position:absolute;left:0;top:28px;width:118px;height:0;background:#8fbee1;
-webkit-transition:all 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
-moz-transition:all 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
-ms-transition:all 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
transition:all 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);}
.lang-select01 ul li{margin:0 20px 6px;text-align:left;}
.lang-select01 ul li a{display:inline-block;width:100% !important;padding:2px 4px;box-sizing:border-box;font-size:13px;color:#fff;letter-spacing:0;}
.lang-select01 ul li.fr{float:none !important;}
.lang-select01:hover ul{height:235px;padding:21px 0 7px;}

/* 2019북미 정상회담 배너 2019-02-21
 * aside-bnr01 기본 */
.bnr-wrap02{background:#1685c9 url(https://r.yna.co.kr/ad/img/2019/bnr_asean_global_20191121_01.jpg) 0 0 no-repeat;height:65px;}
.bnr-wrap02 .txt-con{background:url(https://r.yna.co.kr/ad/img/2019/bnr_asean_global_20191121_02_02.png) no-repeat;}
html.en .bnr-wrap02 .txt-con{background-position:0 10px;}
html.zh .bnr-wrap02 .txt-con{background-position:0 -55px;}
html.ja .bnr-wrap02 .txt-con{background-position:0 -120px;}
html.ar .bnr-wrap02 .txt-con{background-position:0 -185px;}
html.es .bnr-wrap02 .txt-con{background-position:0 -250px;}
html.fr .bnr-wrap02 .txt-con{background-position:0 -315px;}

/* 스페인어 채용배너 : 2019-12-30 */
.bnr-wrap03{background:#1685c9 url(https://r.yna.co.kr/ad/img/2019/bnr_recruit_sp_20191230_1715.jpg) 0 0 no-repeat;}

/* 코로나바이러스 다국어배너 : 2020-02-11 */
.bnr-wrap04{height:75px;background:#102445 url(//r.yna.co.kr/ad/img/2020/bnr_corona_lang_20200211.png) 0 -450px no-repeat;}
.bnr-wrap04 .txt-con{height:100%;background:url(//r.yna.co.kr/ad/img/2020/bnr_corona_lang_20200211.png) no-repeat;text-indent:-9999px;}
html.en .bnr-wrap04 .txt-con{background-position:0 0;}
html.zh .bnr-wrap04 .txt-con{background-position:0 -75px;}
html.ja .bnr-wrap04 .txt-con{background-position:0 -150px;}
html.ar .bnr-wrap04 .txt-con{background-position:0 -225px;}
html.es .bnr-wrap04 .txt-con{background-position:0 -300px;}
html.fr .bnr-wrap04 .txt-con{background-position:0 -375px;}

/* =============== 이벤트 페이지 ======================== */

/* ---- 채용페이지 (006500000000) ---- */
.page-recruit{}
.page-recruit .ko{font-family:'Malgun Gothic','맑은 고딕','돋움',dotum,arial,sans-serif !important;}

.recruit-wrap{position:relative;}
.recruit-wrap.ko{direction:ltr;}

/* 채용 제목 */
.recruit-wrap .title-con01{margin:0 0 30px;text-align:center;}
.recruit-wrap .title-con01 .tit01{display:block;font-weight:bold;font-size:26px;color:#102b5d;line-height:1.6;}
.recruit-wrap .title-con01 .txt01{display:block;margin:15px 0 0;font-weight:normal;font-size:20px;}

/* 채용 문단 테이블 */
.recruit-wrap .tbl-recruit01{width:100%;margin:15px 0 30px;border-top:2px solid #000;}
.recruit-wrap .tbl-recruit01 th,
.recruit-wrap .tbl-recruit01 td{padding:6px 10px;border-bottom:1px solid #ccc;font-size:16px;text-align:center;}

/* 채용 문단 리스트형 */
/* .recruit-wrap .list01 : 인라인형 (dt,dd) */
.recruit-wrap .list01{margin-top:12px;}
.recruit-wrap .list01 dt,
.recruit-wrap .list01 dd{display:inline-block;font-size:16px;line-height:26px;}
/* .recruit-wrap .list01 : 블락형 */
.recruit-wrap .list01.style01 dt,
.recruit-wrap .list01.style01 dd{display:block;}
.recruit-wrap .list01.style01 dd{padding:0 0 0 12px;}

/* 채용 문단 공통 */
.recruit-wrap .desc-con01{font-size:18px;line-height:24px;}
.recruit-wrap .row01{margin-bottom:20px;}

/* 채용 문단 제목01 */
.recruit-wrap [class*="desc-con"] .tit01{position:relative;font-weight:bold;margin:12px 0 10px;padding:0 0 0 12px;font-size:18px;line-height:24px;}
.recruit-wrap [class*="desc-con"] .tit01:before{clear:both;content:"";position:absolute;z-index:1;top:11px;left:0;width:6px;height:6px;background:#266bea;border-radius:50%;}
.recruit-wrap.ko [class*="desc-con"] .tit01{padding:0 0 0 12px !important;}
.recruit-wrap.ko [class*="desc-con"] .tit01:before{top:11px !important;left:0 !important;right:inherit !important;}

html.en .recruit-wrap [class*="desc-con"] .tit01:before,
html.es .recruit-wrap [class*="desc-con"] .tit01:before,
html.fr .recruit-wrap [class*="desc-con"] .tit01:before{top:9px;}

/* 채용 문단 제목02 */
.recruit-wrap [class*="desc-con"] .tit02{margin:15px 0;line-height:24px;}

/* (아랍어)  */
html.ar .recruit-wrap [class*="desc-con"] .tit01{padding:0 12px 0 0;}
html.ar .recruit-wrap [class*="desc-con"] .tit01:before{top:9px;left:inherit;right:0;}

/* 채용 공통 스타일 */
.recruit-wrap strong{font-weight:bold;}
.recruit-wrap .gap01{margin-bottom:20px;}
.recruit-wrap .gap02{margin-top:20px;}
.recruit-wrap .gap03{margin-top:40px;}

.recruit-wrap .color01{color:#266bea !important;}
.recruit-wrap .color02{color:#ff5223 !important;}


/* =============== 팝업 ======================== */
/* 팝업 클래스명 정의
 * popup-type$$ : 외국어 공통 팝업 스타일
 * popup-en$$ : 영어 팝업 스타일
 * popup-zh$$ : 중국어 팝업 스타일
 * popup-ja$$ : 일본어 팝업 스타일
 * popup-ar$$ : 아랍어 팝업 스타일
 * popup-es$$ : 스페인어 팝업 스타일
 * popup-fr$$ : 프랑스어 팝업 스타일 */

/* ---- popup-type01  : 기본형 ---- */
.popup-type01{}


/* 중국어 채용 - 레이어팝업 2020-03-04 */
.popup-zh01{display:none;}
.popup-zh01 .layer-container{position:absolute;top:10px;right:50%;margin-right:-552px;width:378px;z-index:9999;cursor:move;border:1px solid #d1d1d1;}
.popup-zh01 .pop-content{width:378px;height:434px;background:url(/ck/home/v01/img/popup_20200304.png) 0 0 no-repeat;}
.popup-zh01 .btn-go{display:block;position:absolute;bottom:72px;right:20px;width:125px;height:25px;cursor:pointer;}
.popup-zh01 .btn-go span{position:absolute;left:-9999px;width:0;height:0;font-size:0;line-height:0;}
.popup-zh01 .pop-footer{overflow:hidden;position:absolute;bottom:0px;right:0;width:100%;height:30px;text-align:left;background:#87b3dc;}
.popup-zh01 .check-wrap{display:inline-block;position:relative;top:0;right:0;width:100%;height:100%;margin:0;cursor:pointer;text-align:right;}
.popup-zh01 .check-wrap label{display:inline-block;padding:0 10px;width:100px;height:100%;font-size:12px;line-height:30px;color:#fff;cursor:pointer;}
.popup-zh01 .check-wrap input{position:absolute;top:12px;right:0px;opacity:0;visibility:hidden;}
.popup-zh01 .btn-close{display:block;position:absolute;right:2px;top:2px;width:30px;height:30px;background:url(../img/btn_close01.png) 8px 8px no-repeat;text-indent:-9999px;}


/* 프랑스 레이어팝업 */
.popup-fr01{display:none;}
.popup-fr01 .layer-container{position:absolute;top:10px;right:50%;margin-right:-552px;width:400px;z-index:9999;cursor:move;}
.popup-fr01 .pop-content{width:400px;height:300px;background:url(/fr/home/v01/img/popup_20190129.jpg) 0 0 no-repeat;}
.popup-fr01 .btn-go{display:block;position:absolute;bottom:72px;right:20px;width:125px;height:25px;cursor:pointer;}
.popup-fr01 .btn-go span{position:absolute;left:-9999px;width:0;height:0;font-size:0;line-height:0;}
.popup-fr01 .pop-footer{overflow:hidden;position:absolute;bottom:0px;right:0;width:80px;height:30px;text-align:left;}
.popup-fr01 .check-wrap{display:inline-block;position:relative;top:0;right:0;width:100%;height:100%;margin:0;cursor:pointer;}
.popup-fr01 .check-wrap label{display:inline-block;width:100%;height:100%;font-size:12px;line-height:30px;color:#fff;text-indent:-9999px;cursor:pointer;}
.popup-fr01 .check-wrap input{position:absolute;top:12px;right:0px;opacity:0;visibility:hidden;}
.popup-fr01 .btn-close{display:block;position:absolute;right:2px;top:2px;width:30px;height:30px;background:url(../img/btn_close01.png) 8px 8px no-repeat;text-indent:-9999px;}