
.nr_header          { padding: 90px 0 0 0; }

.nr_header h1       { font-size: 14px; line-height: 20px; margin: 0; padding: 0 0 8px 0; text-align: left; color:#111; font-weight:700; font-family: 'Roboto', sans-serif; letter-spacing: 0.02em; text-transform: uppercase;  }
.nr_header h1:after { display: inline-block; width:60px; height:1px; margin: 0 0 0 24px; background-color: #111; content:' '; vertical-align: middle; }
.nr_header p        { font-size: 40px; line-height: 40px; margin: 0; padding: 0; text-align: left; color:#111; font-weight:500; font-family: 'Roboto', sans-serif; letter-spacing: normal; text-transform: none; }
.nr_header p i      { font-style: normal; }

.newsroom-featured	{ display:block; padding: 50px 0 0 0; position: relative; }
.newsroom-featured .bgbar		{ position: absolute; bottom:0; width:100%; height: 160px; background-color: #f6f7f7; pointer-events: none; }
.inner::after   		{ content: ""; display: table; clear: both; }		
.newsroom-featured a.big-feature 	{ display:block; color:#fff; text-decoration: none; -moz-box-sizing: border-box; box-sizing: border-box; padding: 30px; vertical-align:bottom; position: relative; margin: 0; overflow: hidden; }
.newsroom-featured a.big-feature.f1	{ width:700px; height:320px; float:left; }

.newsroom-featured a.big-feature i { display: block; position: absolute; top:0; left:0; width:100%; height:100%; background-size: cover; background-position: center center; transition: all .3s ease-in-out; }
.newsroom-featured a.big-feature img 			{ display:block; width:100%; height:auto; }
.newsroom-featured a.big-feature .ol			{  position: absolute; top:0; left:0; width:100%; height:100%; background-color: rgba(0,0,0,0.40); }
.newsroom-featured a.big-feature .pad 		{ width:90%; height:auto; position: absolute; bottom:40px; left:40px; }
.newsroom-featured a.big-feature span.f   { display:inline-block; width:100px; height:30px; padding: 0; margin: 0 0 15px 0; line-height: 30px; text-align: center; color:#fff; background-color: #f0a300; font-size: 12px; font-weight: 900; font-family: 'Roboto', sans-serif; text-transform:uppercase; }
.newsroom-featured a.big-feature p 				{ margin: 0; padding: 0; font-size: 30px; font-weight: 500; font-family: 'Roboto', sans-serif; width:60%; color:#fff; text-transform: none; }

.newsroom-featured a.big-feature:hover, .newsroom-featured a.big-feature:focus      { opacity: 1; }
.newsroom-featured a.big-feature:hover p, .newsroom-featured a.big-feature:focus p  { text-decoration: underline; }

.newsroom-featured aside 				{ display:block; width: 320px; height: 320px; float:right; color:#fff; background-color: #111; padding: 40px; position: relative; }
.newsroom-featured aside i  		{ display:block; margin-bottom: 30px; }
.newsroom-featured aside h1 		{ font-size: 14px; color:#fff; font-weight:700; letter-spacing: normal; text-align: left; margin-bottom: 15px; }
.newsroom-featured aside h2 		{ font-size: 30px; color:#fff; font-weight:300; letter-spacing: normal; text-align: left; margin-bottom: 30px; }

.newsroom-featured aside a   { display:inline-block; font-size: 16px; color:#fff; line-height: 24px; font-weight:500; font-family: 'Roboto', sans-serif; }
.newsroom-featured aside a::after { content:' '; display:inline-block; width:20px; height:12px; background-image: url("../svg/2019/link-arrow-e-white.svg"); background-size: contain; margin: 0 0 0 8px; background-repeat: no-repeat; vertical-align: middle; transition: all .3s; transition-delay: .2s; }
.newsroom-featured aside a:active::after, .newsroom-featured aside a:hover::after, .newsroom-featured aside a:focus::after { margin: 0 0 0 14px; }


.newsroom-featured-options						{ padding: 60px 0; border-bottom:1px solid #d6d6d6; }
.newsroom-featured-options .inner			{ position: relative; }
.newsroom-featured-options h3    			{ display:inline-block; font-size:21px; line-height:33px; font-weight: 500; text-transform: none; margin: 0 0 1em 0; color:#111; }
.newsroom-featured-options h3 svg			{ display:inline-block; width: 31px; height:33px; vertical-align: middle; margin-right: 14px; }
.newsroom-featured-options a.nr-m-drop		{ display:none; }
.newsroom-featured-options .options   { display:inline-block; font-size:0; float:right; }

.newsroom-featured-options .options a { padding: 10px 13px; margin: 0 20px 20px 0; font-size:14px; font-family: 'Roboto', sans-serif; font-weight:700; }
.newsroom-featured-options .options a:last-of-type { margin: 0; }


.recents-blocks.nr								{ padding: 65px 0; border-bottom:1px solid #d6d6d6; }
.recents-blocks.nr.no-border			{ border-bottom:none; }
.recents-blocks.nr p				      { display:block; font-size:16px; line-height:21px; font-weight: 500; text-transform: none; color:#111; font-family: 'Roboto', sans-serif; padding: 10px 0 0 0; }
.recents-blocks.nr h3.title				{ display:inline-block; font-size:24px; line-height:33px; font-weight: 500; text-transform: none; margin: 0; width: 70%; }
.recents-blocks.nr h3.title.full	{ width:100%; }

.recents-blocks.nr h3.title::after { display: inline-block; width:100px; height:1px; margin: 0 0 0 24px; background-color: #111; content:' '; vertical-align: middle; }

.recents-blocks.nr .all-posts            { display:block; font-size:0; width:1140px; margin: 0 -30px; }
.recents-blocks.nr .top-three            { display:block; font-size:0; }

.recents-blocks.nr a.brand-button-tri  { padding: 10px 13px; font-size:14px; font-family: 'Roboto', sans-serif; font-weight:700; float:right; }

.recents-blocks.nr a.rp                  { display:inline-block; width: 320px; height:auto; vertical-align: top; margin: 0 30px 30px 30px; }

.recents-blocks.nr a:nth-child(3n)    		{ margin: 0 30px; }
.recents-blocks.nr a:nth-child(3n)::after { content: ""; display: table; clear: both; height:1px; background-color: transparent; padding: 20px 0; }



.fullitem.nr									{ display: block; font-weight:normal; width:1080px; margin: 30px; padding: 60px 0 30px 0; border-top:none; }
.fullitem.nr .showitem				{ width:60%; float:left; }
.fullitem.nr .details					{ width:30%; float:right; }
.fullitem.nr .details .c1			{ width:100%; }
.fullitem.nr .details .c2			{ width:100%; }
.fullitem.nr::after           { content: ""; display: table; clear: both; }

.fullitem.nr a.close            { position: absolute; top: 20px; right:20px; width:20px; height:20px; }
.fullitem.nr.nr a.close line    { fill: none;stroke: #c6cbcd;stroke-miterlimit: 10;stroke-width: 4px; }
.fullitem a.close:hover line    { stroke: #c6cbcd; }
.fullitem.nr .line             	{ display:block; position: absolute; top: 28px; left:0; width: 1020px; height:1px; background-color: #c6cbcd; margin: 0; padding: 0; }


.newsroom-homepage-mediakits						{ padding: 65px 0; }
.newsroom-homepage-mediakits h3.title		{ display:inline-block; font-size:24px; line-height:33px; font-weight: 500; color:#111; text-transform: none; margin: 0 0 1em 0; width: 100%; font-family: 'Roboto', sans-serif; }
.newsroom-homepage-mediakits h3.title::after { display: inline-block; width:100px; height:1px; margin: 0 0 0 24px; background-color: #111; content:' '; vertical-align: middle; }
.newsroom-homepage-mediakits .thekits		{ font-size:0; margin: 0 -30px; }
.newsroom-homepage-mediakits .thekit		{ display:inline-block; width:33.33%; vertical-align: top; padding: 30px; }

.newsroom-homepage-mediakits .thekit a	{ display:block; font-size:16px; line-height:24px; padding: 0 0 15px 0; color:#111; font-family: 'Roboto', sans-serif; font-weight: 500; }
.newsroom-homepage-mediakits .thekit a::after { content:' '; display:inline-block; width:20px; height:12px; background-image: url("../svg/2019/link-arrow-e-black.svg"); background-size: contain; margin: 0 0 0 8px; background-repeat: no-repeat; vertical-align: unset; transition: all .3s; transition-delay: .2s; }
.newsroom-homepage-mediakits .thekit a:active::after, .newsroom-homepage-mediakits .thekit a:hover::after, .newsroom-homepage-mediakits .thekit a:focus::after { margin: 0 0 0 14px; }

.newsroom-homepage-mediakits .thekit p	{ font-size:14px; line-height:19px; color:#333; font-family: 'Roboto', sans-serif; font-weight:400; }

.newsroom-homepage-trending							{ padding: 65px 0; position: relative; border-bottom:1px solid #d6d6d6; }
.newsroom-homepage-trending::before			{ content:''; position: absolute; top:0; width:100%; height: 280px; background-color: #f0f5f7; pointer-events: none; }
.newsroom-homepage-trending h3          { text-transform: none; }
.newsroom-homepage-trending h3.title		{ display:inline-block; font-size:24px; line-height:33px; font-weight: 500; color:#111; text-transform: none; margin: 0 0 1em 0; width: 100%; position: relative;}
.newsroom-homepage-trending h3.title::after { display: inline-block; width:100px; height:1px; margin: 0 0 0 24px; background-color: #111; content:' '; vertical-align: middle; }


.newsroom-homepage-trending .twitter-feed					{ padding: 20px 0; font-size:0; position: relative; }
.newsroom-homepage-trending .twitter-feed .tweet	{ display:inline-block; width: 48%; font-size:14px; background-color: #fff; padding: 30px 30px 60px 30px; min-height:230px; position: relative; vertical-align: top; border-top:5px solid #111; }
.newsroom-homepage-trending .twitter-feed div:last-child	{ margin-left: 4%; }

.newsroom-homepage-trending .twitter-feed .tweet .h					{ color:#545454; font-size:13px; font-family: 'Roboto', sans-serif; }
.newsroom-homepage-trending .twitter-feed .tweet .h .user 	{ font-weight:500; font-family: 'Roboto', sans-serif; font-size:18px; color:#111; }
.newsroom-homepage-trending .twitter-feed .tweet .h .user:hover { text-decoration: underline; }
.newsroom-homepage-trending .twitter-feed .tweet .h .t-ver	{ width: 20px; height:20px; line-height: 20px; display:inline-block; margin: 0 14px 0 8px; vertical-align: sub; }
.newsroom-homepage-trending .twitter-feed .tweet .t					{ font-size:14px; line-height:23px; padding: 10px 0; color:#333; font-family: 'Roboto', sans-serif; }
.newsroom-homepage-trending .twitter-feed .tweet .f					{ font-size:16px; }
.newsroom-homepage-trending .twitter-feed .tweet a.t-rt			{ width:23px; height:23px; position: absolute; bottom:20px; left:30px; }
.newsroom-homepage-trending .twitter-feed .tweet a.t-fav		{	 width:23px; height:23px; position: absolute; bottom:20px; left:70px; }
.newsroom-homepage-trending .twitter-feed .tweet a.t-logo		{ width: 19px; height:19px; position: absolute; bottom:20px; right:30px; }

.newsroom-homepage-trending .twitter-feed .tweet a.t-rt	svg		{ width:23px; height:23px; }
.newsroom-homepage-trending .twitter-feed .tweet a.t-fav	svg	{ width:23px; height:23px; }
.newsroom-homepage-trending .twitter-feed .tweet a.t-logo	svg	{ width: 22px; height:22px; }

.newsroom-homepage-trending .twitter-feed .tweet a.t-rt:hover svg rect, 
.newsroom-homepage-trending .twitter-feed .tweet a.t-rt:hover svg polygon,
.newsroom-homepage-trending .twitter-feed .tweet a.t-rt:active svg rect, 
.newsroom-homepage-trending .twitter-feed .tweet a.t-rt:active svg polygon,
.newsroom-homepage-trending .twitter-feed .tweet a.t-rt:focus svg rect, 
.newsroom-homepage-trending .twitter-feed .tweet a.t-rt:focus svg polygon { fill:#15a4aa !important; }

.newsroom-homepage-trending .twitter-feed .tweet a.t-fav:hover svg path,
.newsroom-homepage-trending .twitter-feed .tweet a.t-fav:active svg path,
.newsroom-homepage-trending .twitter-feed .tweet a.t-fav:focus svg path{ fill:#15a4aa !important; }

.newsroom-homepage-trending .nr-collapse h3								{ height: 40px; line-height:40px; }

.newsroom-homepage-trending	.trendingtopics								{ font-size:0; position: relative; padding: 20px 0 0 0; }
.newsroom-homepage-trending	.trendingtopics::after   			{ content: ""; display: table; clear: both; }	
.newsroom-homepage-trending	.trendingtopics svg						{ display:inline-block; vertical-align: middle; width:35px; height:45px; margin: 0 40px 0 0; float:left; }
.newsroom-homepage-trending	.trendingtopics h3            { display: inline-block; color:#111; font-weight:500;font-family: 'Roboto', sans-serif; font-size:21px; }
.newsroom-homepage-trending	.trendingtopics .tops					{ float:right; }

.newsroom-homepage-trending	.trendingtopics a { padding: 10px 13px; margin: 0 20px 0 0; font-size:14px; font-family: 'Roboto', sans-serif; font-weight:700; }
.newsroom-homepage-trending	.trendingtopics a:last-of-type { margin: 0; }

.newsroom-homepage-trending	a.nr-m-drop		{ display:none; }


.newsroom-homepage-topics 						{ padding: 65px 0; }
.newsroom-homepage-topics h3.title		{ display:inline-block; font-size:24px; line-height:33px; font-weight: 500; text-transform: none; margin: 0 0 1em 0; width: 50%; color:#111; }
.newsroom-homepage-topics h3.title::after { display: inline-block; width:100px; height:1px; margin: 0 0 0 24px; background-color: #111; content:' '; vertical-align: middle; }

.newsroom-homepage-topics a.brand-button-tri  { padding: 10px 13px; font-size:14px; font-family: 'Roboto', sans-serif; font-weight:700; float:right; }



.newsroom-homepage-topics .newsroom-topicbar							{ padding: 15px 0 0 0; }
.newsroom-homepage-topics .newsroom-topicbar .thetopic		{ width: 130px; display:inline-block; height:auto; vertical-align: top; margin-right: 55px; }
.newsroom-homepage-topics .newsroom-topicbar .thetopic a h3	{ color:#111; font-weight:500; font-size:16px; line-height:24px; text-transform: none; padding: 8px 0 0 0; font-family: 'Roboto', sans-serif; }
.newsroom-homepage-topics .newsroom-topicbar .thetopic a:hover h3 { text-decoration: underline; }
.newsroom-homepage-topics .newsroom-topicbar .thetopic img	{ display:block; width:100%; height:auto; }

.newsroom-homepage-topics .newsroom-topicbar div:last-of-type	{ margin-right:0; }


.footer_newsroomdigest                 { padding: 115px 0; background-size: cover; background-position: center center; }
.footer_newsroomdigest .inner::after   { content: ""; display: table; clear: both; }
.footer_newsroomdigest .c2 input ::placeholder { color: #fff; opacity: 1; }
.footer_newsroomdigest .c1             { width:30%; float:left; color:#fff; }
.footer_newsroomdigest .c1 h3          { color:#fff; margin: 0; font-size:18px; line-height: 25px; padding: 29px 0; text-transform: none; font-family: 'Roboto', sans-serif; font-weight: 900; }
.footer_newsroomdigest .c2             { width: 65%; float:right; }
.footer_newsroomdigest .c2 input       { width:200px; height:45px; padding: 10px; background-color: transparent; border-bottom:1px solid #fff; margin: 0 9px 0 0; font-size:13px; color:#fff; outline:0; }
.footer_newsroomdigest .c2 input:focus { outline:0; border:0; border-bottom:2px solid #fff; }
.footer_newsroomdigest .c2 .cta        { display:inline-block; width:135px; height:45px; font-size:14px; font-weight:700; color:#fff; background-color: #6aa509; text-align: center; cursor: pointer; border-radius:23px; border-bottom:none; }
.footer_newsroomdigest .c2 .cta:hover  { opacity: 0.9; }
.footer_newsroomdigest form .wpcf7-response-output   { width:100%; background-color: transparent; border-radius:0; padding: 5px; margin: 10px 0 0 0; color:#e0e055 !important; font-size: 14px !important; border:none !important; }



@media only screen and (max-width: 767px) {
	
  .nr_header          { padding: 30px 0; }
  .nr_header h1:after { width:55px; margin: 0 0 0 20px; }
  .nr_header p        { font-size: 24px; line-height: 30px; padding: 5px 0 0 0; }
  .nr_header p i      { display: block; }
  
  .newsroom-featured	{ background-color: #f6f7f7; padding: 0; }
	
  .newsroom-featured a.big-feature    { padding: 0; }
	.newsroom-featured a.big-feature.f1	{ width:100%; height:auto; float:none; max-height: 320px; }
	.newsroom-featured a.big-feature .pad 		{ bottom:28px; left:28px; }
  
	.newsroom-featured .bgbar				{ bottom:auto; top:0; height: 60%; background-color: #6aa509; }
	.newsroom-featured aside 				{ width: 100%; height: auto; float:none; background-color: #111; padding: 28px; margin: 10px 0 0 0; }
	.newsroom-featured aside i  		{ display:block; margin-bottom: 10px; }
	.newsroom-featured aside h2 		{ font-size:20px; margin-bottom: 10px; }
	.newsroom-featured aside a      { font-size:15px; margin-bottom: 0; }
  .newsroom-featured aside a span { display:none; }
	.newsroom-featured aside::after  { content: ""; display: table; clear: both; }
  
  .newsroom-featured a.big-feature p 				{ font-size: 16px; }

	
	.newsroom-featured-options						   { padding: 30px 0; display:block; float:none; }
	.newsroom-featured-options h3					   { font-size:21px; line-height: 24px; margin: 0 0 10px 0; }
  .newsroom-featured-options .options a    { margin: 10px 10px 0 0; }
  .newsroom-featured-options .options a:last-of-type    { margin: 10px 0 0 0; }
	
	.recents-blocks.nr								{ padding: 30px 0; }
	.recents-blocks.nr .header				{ padding: 0; }
	
  .recents-blocks.nr h3.title         { width: auto; }
  .recents-blocks.nr h3.title::after  { display: none; }
  
	.recents-blocks.nr .all-posts           { width:90%; margin: 0 auto; }
	.recents-blocks.nr a.rp                 { width: 100%; max-width:320px; display:block; margin: 30px auto; }
	.recents-blocks.nr a.rp::after 					{ display:none; }
	

	.recents-blocks.nr a:nth-child(3n)    		{ margin: 30px auto;   }
	.recents-blocks.nr a:nth-child(3n)::after { display:none; }
	
	
	.fullitem.nr							{ width:100%; max-width:320px; margin: 30px auto; padding: 40px 0 30px 0; }
	.fullitem.nr .showitem		{ width:100%; float:none; }
	.fullitem.nr .details			{ width:100%; float:none; }
	.fullitem.nr .line        { width: 260px; }
	
	.fullitem.nr a.close      { right:0; }
	.newsroom-homepage-mediakits																{ padding: 15px 0; }
	.newsroom-homepage-mediakits .thekit												{ width:100%; }
	
	.newsroom-homepage-trending							{ padding: 30px 0; }
	.newsroom-homepage-trending .twitter-feed .tweet	{ display:block; width: 100%; min-height:180px; }
  .newsroom-homepage-trending .twitter-feed .tweet .h .user { font-size:15px; }
	.newsroom-homepage-trending .twitter-feed div:last-child	{ margin-left: 0; margin-top:30px; }
	
	.newsroom-homepage-trending	.trendingtopics								{ position: relative; }
	
	.newsroom-homepage-trending	.trendingtopics .tops					{ width: 100%; float: none; }
  
  .newsroom-homepage-trending	.trendingtopics .tops a    { margin: 10px 10px 0 0; }
  .newsroom-homepage-trending	.trendingtopics .tops a:last-of-type    { margin: 10px 0 0 0; }
	
	.newsroom-homepage-trending .nr-collapse h3								{ height: 40px; line-height:40px; }
	.newsroom-homepage-trending .nr-collapse h3 svg						{ margin: 0 20px 0 0; }
	.newsroom-homepage-trending .nr-collapse									{ overflow: hidden; height:40px; transition: all 400ms; }
	.newsroom-homepage-trending	.nr-collapse.open							{ height:auto; }
	.newsroom-homepage-trending	.nr-collapse a.nr-m-drop			{ display:block; position: absolute; top:10px; right:20px; width:20px; height:20px; transform: rotate(0deg); transition: all 400ms; -webkit-tap-highlight-color: rgba(0,0,0,0); }
	.newsroom-homepage-trending	.nr-collapse.open a.nr-m-drop	{ transform: rotate(-180deg); }
	
	.newsroom-homepage-topics 						{ padding: 30px 0; }
	.newsroom-homepage-topics h3															{ display:inline-block; font-size:16px; line-height: 24px; width: auto; margin: 0; }
	.newsroom-homepage-topics a.tic-button										{ margin: 0; }
	.newsroom-homepage-topics .newsroom-topicbar							{ width:100%; max-width: 520px; margin: 0 auto; font-size:0; }
  .newsroom-homepage-topics .newsroom-topicbar .reduce       { margin: 0 -10px; }
	.newsroom-homepage-topics .newsroom-topicbar .thetopic		{ width: 33.33%; margin:0; padding: 10px; }
  .newsroom-homepage-topics .newsroom-topicbar .thetopic a h3	{ font-size:13px; line-height:19px; padding: 8px 0 0 0; margin: 0; width:100%; }
	.newsroom-homepage-topics .newsroom-topicbar .thetopic img	{ display:block; width:100%; height:auto; }
	
	.footer_newsroomdigest								 	{ padding: 30px 0; }
	.footer_newsroomdigest .c1             	{ width:100%; float:none; }
	.footer_newsroomdigest .c1 h3          	{ width:280px; padding: 0 0 10px 0; text-align: center; font-size: 26px; line-height: 36px; margin: 0 auto; }
	.footer_newsroomdigest .c2             	{ width:280px; float:none; margin: 0 auto; }
	.footer_newsroomdigest .c2 input       	{ width:280px; }
	.footer_newsroomdigest .c2 .cta					{ width:280px; display:block; margin: 0 auto; }
  
  
  .recents-blocks.nr h3.title::after,
  .newsroom-homepage-mediakits h3.title::after,
  .newsroom-homepage-trending h3.title::after,
  .newsroom-homepage-topics h3.title::after { display:none; }
	
}
@media only screen and (min-width: 768px) and (max-width: 989px) { 
	
  .nr_header          { padding: 60px 0 0 0; }
  
	.newsroom-featured	{ padding: 40px 0 0 0; }
	
	.newsroom-featured a.big-feature.f1	{ width:708px; float:none; }
  .newsroom-featured a.big-feature p 				{ font-size: 24px; }
  .newsroom-featured a.big-feature .pad { left: 40px; bottom:40px; }
	
	.newsroom-featured .bgbar				{ bottom:auto; top:0; height: 250px; background-color: #6aa509; }
	.newsroom-featured aside 				{ display:block; width: 100%; height: auto; float:none; background-color: #111; padding: 40px; margin: 10px 0 0 0; }
	.newsroom-featured aside i  		{ display:inline-block; margin: 0 10px 0 0; padding: 0; vertical-align: middle; }
  .newsroom-featured aside svg    { display:block; margin: 0; padding: 0; }
	.newsroom-featured aside h2 		{ display:inline-block; margin: 0; padding: 0; font-size:24px; line-height: 24px; }
	.newsroom-featured aside a      { float:right; width:116px; text-align: left; line-height: 32px; vertical-align: middle; }
	
  .newsroom-featured-options      { padding: 30px 0; }
  .newsroom-featured-options .options   { display:block; font-size:0; float:none; }

  .newsroom-featured-options .options a { padding: 10px 13px; margin: 0 15px 15px 0; font-size:14px; font-family: 'Roboto', sans-serif; font-weight:700; }
  
  
	
	.recents-blocks.nr						  { padding: 40px 0; }
	
	
	.recents-blocks.nr .all-posts            { width:750px; margin: 0 -25px; }
	.recents-blocks.nr a.rp                  { width: 210px; margin: 0 20px; }

	.recents-blocks.nr a:nth-child(3n)    		{ margin: 0 20px; }
	.recents-blocks.nr a:nth-child(3n)::after { padding: 20px 0; }
	
	
	.fullitem.nr							{ width:710px; }
	.fullitem.nr .showitem		{ width:65%; float:left; }
	.fullitem.nr .details			{ width:30%; float:right; }
	.fullitem.nr .line        { width: 650px; }
	
	.amp-title	{ font-size: 18px; }
	
	
	.newsroom-homepage-topics 						{ padding: 40px 0; }
	
	.newsroom-homepage-topics 																	{ padding: 40px 0; }
	.newsroom-homepage-topics .newsroom-topicbar .thetopic			{ width: 98px; margin-right: 20px; }
	.newsroom-homepage-topics .newsroom-topicbar .thetopic a h3	{ font-size:14px; line-height:19px; }
	
	.footer_newsroomdigest								 { padding: 60px 0; }
	.footer_newsroomdigest .c1             { width:100%; float:none; }
	.footer_newsroomdigest .c1 h3          { padding: 0 0 29px 0; text-align: center; font-size: 21px; line-height: 30px; }
	.footer_newsroomdigest .c2             { width: 560px; float:none; margin: 0 auto; }
	
}
@media only screen and (min-width: 990px) and (max-width: 1279px) {

  .newsroom-featured a.big-feature.f1	{ width:580px;  }
	
	
	.recents-blocks.nr .all-posts            { width:1020px; margin: 0 -30px; }
	.recents-blocks.nr a.rp                  { width: 280px; }

	.recents-blocks.nr a:nth-child(3n)    		{ margin: 0 30px; }
	.recents-blocks.nr a:nth-child(3n)::after { padding: 20px 0; }
	
	
	.fullitem.nr							{ width:960px; }
	.fullitem.nr .showitem		{ width:65%; float:left; }
	.fullitem.nr .details			{ width:30%; float:right; }
	.fullitem.nr .line        { width: 900px; }
	
	
	.newsroom-homepage-trending																{ padding: 65px 0; }
	
	.newsroom-homepage-topics .newsroom-topicbar .thetopic		{ width: 120px; margin-right: 44px; }
  
}
