/* This stylesheet is used to style the public view of the widget. */
.gerente-widget{
  background: #F0F0F0;
  border-color: #BABAB9;
  border-style: solid;
  border-width: thin;
  @include clearfix;
}

.gerente-widget > .gerente-widget-content{
  color: #30302F;
}

.gerente-widget > .gerente-widget-content > .gerente-widget-title{
  display: block;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.gerente-widget > .gerente-widget-content > img {
  float: left;
  width: 30%;
  margin: -0.5rem 1rem 0 1rem;
}

.gerente-widget > .gerente-widget-content > .gerente-widget-description{
  padding: 0 0.5rem 0 0;
}

.gerente-widget > .gerente-widget-content > .gerente-widget-call-to-action{
  color: #787878;
  font-weight: bold;
  padding: 0.25rem 0.5rem 1rem 0;
  text-transform: uppercase;
}
