
/* #### CSS FOR SIDEBAR */
.sidebar-footer {position:absolute;bottom:0;width:300px;height:35px;padding:100px 0 0;font-size:12px;font-weight:700;font-family:"Roboto Condensed","Arial Narrow",sans-serif;text-transform:uppercase;text-align:center;}
.sidebar-footer span {display:block;}
.sidebar-footer span::after {font-family:"Toi-new";content:"\ea16";font-weight:normal;display:block;margin-top:3px;font-size:20px;}
.sidebar-footer.hide {display:none;}
/* General & Grid */
.sidebar .block {padding:0 16px;width:calc(100% - 32px);margin-bottom:0;}
.sidebar .block.cols2 {margin-top:32px;}
.sidebar .media {float:left;width:100%;height:auto;overflow:hidden;margin-bottom:16px;}
.sidebar .media + .item-content {width:100%;margin-left:0;}
.sidebar .item, 
.sidebar .block > .item:first-child {margin-top:32px;padding-top:16px;}
.sidebar .items .item .underline {display:none;}
/* form elements */
.sidebar input {-webkit-appearance:none;}
.sidebar input[type=date],
.sidebar input[type=datetime],
.sidebar input[type=datetime-local],
.sidebar input[type=email],
.sidebar input[type=month],
.sidebar input[type=number],
.sidebar input[type=password],
.sidebar input[type=range],
.sidebar input[type=search],
.sidebar input[type=tel],
.sidebar input[type=text],
.sidebar input[type=time],
.sidebar input[type=url],
.sidebar input[type=week] {with:calc(100% - 32px);border-radius:0;}
.sidebar .nlsignup input[type="email"] {width:calc(100% - 32px);}
/* sidebar header */
.sidebar-header {width:calc(100% - 32px);margin:32px auto -16px;text-align:center;font-family:"Roboto Condensed","Arial Narrow",sans-serif;font-size:20px;line-height:20px;font-weight:700;text-transform:uppercase;}
.sidebar-header .subtitle {font-size:12px;font-weight:400;}
/* Salamandra templates */
.sidebar .headline {font-size:20px;line-height:22px;}
.sidebar .block .above-headline {font-size:12px;line-height:14px;margin-top:2px;}
.sidebar .package:not(.special) .byline, 
.sidebar .package:not(.special) .media {display:none;}
.sidebar .package:not(.template7) .headline {margin-bottom:0;}
.sidebar .package.features .item {padding-top:0 !important;}
.sidebar .package .avatar img {width:50px;height:50px;}
.sidebar .block:not(.cols2) .item.negative, 
.sidebar .block:not(.cols2) .item.bgcolor {width:calc(100% - 32px);padding:16px;}
.sidebar .block:not(.cols2) .item .media,
.sidebar .block:not(.cols2) .item.negative .media,
.sidebar .block:not(.cols2) .item:not(.negative) .media,
.sidebar .block:not(.cols2) .item.features .media,
.sidebar .block:not(.cols2) .item.bgcolor .media {width:100%;height:auto;max-height:none;}
.sidebar .block:not(.cols2) .item .media + .item-content,
.sidebar .block:not(.cols2) .item.negative .media + .item-content,
.sidebar .block:not(.cols2) .item:not(.negative) .media + .item-content,
.sidebar .block:not(.cols2) .item.features .media + .item-content {width:100%;margin-left:0;margin-right:0;}
.sidebar .block:not(.cols2) .package.special .item .media + .item-content {width:calc(100% - 86px);margin-left:16px;}
.sidebar .block:not(.cols2) .package .item,
.sidebar .block:not(.cols2) .package.negative .item,
.sidebar .block:not(.cols2) .package.features .item,
.sidebar .block.cols4 .template3.features .item-content {width:100%;padding-right:0;padding-left:0;}
.sidebar .package:not(.bgcolor):not(.negative) .item:first-child {margin-top:16px;}
.sidebar .block:not(.cols2) .package.features .item,
.sidebar .block.cols4 .template3.features .item-content {box-sizing:border-box;}
.sidebar .block.cols6 .template5 .analysis-content {width:100%;margin-left:0;}
.sidebar .block.cols4 .template5 .underline,
.sidebar .block.cols4 .template5.negative .underline,
.sidebar .block.cols6 .template5.negative .analysis-content,
.sidebar .template8 + .package .item:first-child {width:100%;}
.sidebar .cols6 .template1.negative:not(.analysis)::before {display:none;}
.sidebar .block.cols6 .underline {font-size:14px;line-height:18px;}
.sidebar .block.cols6 .headline,
.sidebar .block.cols6 .template4.negative:not(.big) .headline, 
.sidebar .block.cols6 .big .headline,
.sidebar .block.cols6 .template4 .headline, 
.sidebar .block.cols6 .template5 .headline {font-size:24px;line-height:26px;}
.sidebar .block.cols6 .template4 .headline, 
.sidebar .block.cols6 .template5 .headline {margin-bottom:16px;height:auto;white-space:normal;}
.sidebar .block.cols6 .blogs .headline, 
.sidebar .block.cols6 .template4.big .headline, 
.sidebar .block.cols6 .template5.big .headline {font-size:28px;line-height:30px;margin-bottom:16px;height:auto;white-space:normal;}
.sidebar .block.cols4 .template3 .headline, 
.sidebar .block.cols4 .template4 .headline, 
.sidebar .block.cols4 .template5 .headline,
.sidebar .block.cols4 .blogs .headline {font-size:22px;line-height:26px;margin-bottom:16px;}
.sidebar .block .item.template8 .headline {margin:0;padding:0;}
.sidebar .block .template5 .underline {margin-bottom:16px;}
.sidebar .block .template5 .media {margin-bottom:0;}
.sidebar .template2.negative:not(.analysis)::before,
.sidebar .block.cols4 .item.features.bgcolor::before,
.sidebar .block.cols6 .item.features.bgcolor::before {height:16px;margin-left:-16px;margin-top:-16px;margin-right:-16px;width:calc(100% + 32px);border-bottom:16px solid;}
.sidebar .block.cols6 .template3.negative, 
.sidebar .block.cols6 .template4.negative, 
.sidebar .block.cols4 .template3.negative, 
.sidebar .block.cols4 .template4.negative {width:100%;padding:16px 0 0;}
.sidebar .block.cols6 .template3.negative .media img {height:268px;width:auto;margin-left:-18.75%;}
.sidebar .block.cols6 .template3.negative .media + .item-content, 
.sidebar .block.cols4 .template3.negative .media + .item-content {top:16px;left:0;padding:16px;width:calc(100% - 32px);height:calc(100% - 52px);}
.sidebar .block.cols4 .template3.negative .above-headline, 
.sidebar .block.cols4 .template3.negative .headline, 
.sidebar .block.cols4 .template3.negative .byline, 
.sidebar .block.cols4 .template3.negative .underline {width:65%;}
.sidebar .block.cols6 .template3.negative .above-headline, 
.sidebar .block.cols6 .template3.negative .headline, 
.sidebar .block.cols6 .template3.negative .byline, 
.sidebar .block.cols6 .template3.negative .underline {width:100%;}
.sidebar .block.cols6 .template4.negative .media + .item-content, 
.sidebar .block.cols4 .template4.negative .media + .item-content {display:block;position:relative;width:calc(100% - 32px);height:auto;background-image:none;padding:16px;pointer-events:auto;}
.sidebar .block.cols4 .template3.negative .media img {height:268px;width:auto;margin-left:-18.75%;}
.sidebar .block:not(.cols2) .item:not(.liveblog) .overline:not(.date),
.sidebar .block:not(.cols2) .template3.negative .underline,
.sidebar .block.cols4 .template1.news .underline {display:none !important;}
.sidebar .block.cols4 .template3.features .item-content {padding:0;}
.sidebar .block.cols4 .template3.features.bgcolor .media {width:calc(100% + 32px);margin-left:-16px;margin-top:-16px;}
.sidebar .block.cols4 .template3.features.bgcolor .media a::after {height:168px;}
.sidebar .block.cols6 .template2.features.bgcolor::before {content:" ";height:16px;margin-left:-16px;margin-top:-16px;margin-right:-16px;width:calc(100% + 32px);border-top:1px solid;}
.sidebar .block.cols6 .template2.features.bgcolor .media {width:268px;margin:-16px -16px 0 -16px;position:relative;}
.sidebar .block.cols6 .template2.features.bgcolor .media a::after {content:" ";display:block;width:100%;height:168px;position:absolute;left:0;top:0;}
.sidebar .block.cols4 .template1.features .media + .item-content {width:calc(100% - 40px);margin:-80px 20px 0;padding:20px 30px;}
.sidebar .block.cols4 .template1.features:not(.bgcolor) .media + .item-content {box-shadow:0 0 2px 0 rgba(0,0,0,0.2);}
.sidebar .block.cols4 .template1.features.bgcolor {padding-left:0;padding-right:0;width:100%;}
.sidebar .block.cols4 .template1.features .headline {font-size:16px;line-height:20px;max-height:80px;overflow:hidden;}
.sidebar .block.cols4 .template1.features.bgcolor::before {border-bottom:none;}
.sidebar .block.cols4 .template1.features.bgcolor {padding-bottom:0;}
.sidebar .block.cols4 .template1.features .above-headline {font-size:12px;line-height:16px;}
.sidebar .block:not(.cols2) .template5.analysis {display:flex;flex-flow:column;}
.sidebar .block.cols4 .template1.news .media {width:120px;margin:0;}
.sidebar .block.cols4 .template1.news .media + .item-content {width:calc(100% - 136px);margin-left:16px;}
.sidebar .block.cols4 .template1.news .headline {font-size:16px;line-height:18px;}
.sidebar .block.cols4 .template1.news .byline {margin-bottom:0;}
.sidebar .block .blogs .content {columns:1;}
.sidebar .block.cols2 > div:not(:last-child), .cols2 .widget:not(:first-child) {margin-bottom:32px;margin-top:0;}
.sidebar .package {flex-flow:column;}
.sidebar .package.negative {padding:0 0 16px;width:100%;}
.sidebar .package.liveblog.negative {padding:0;}
.sidebar .block:not(.cols2) .package .item:not(:first-child) {margin-top:16px;padding-top:16px;}
.sidebar .block:not(.cols2) .package .item .media, 
.sidebar .widget.full-coverage .media {width:70px;height:70px;margin-bottom:0;}
.sidebar .block:not(.cols2) .package .avatar {text-align:center;width:70px;margin-right:0;}
.sidebar .block:not(.cols2) .package .item .media + .item-content {width:calc(100% - 32px);margin-left:0;}
.sidebar .block:not(.cols2) .package .item .item-content {width:calc(100% - 32px);margin:0 16px;} 
.sidebar .block:not(.cols2) .package.negative .item .media + .item-content {margin:0 16px;}
.sidebar .widget.full-coverage .media + .item-content, 
.sidebar .block:not(.cols2) .package .item .avatar + .item-content {width:calc(100% - 86px);padding:0;margin-left:16px;}
.sidebar .block:not(.cols2) .template8 + .package {padding:0;width:100%;}
.sidebar .block:not(.cols2) .template8 + .package .avatar {float:left;width:50px;height:50px;margin-bottom:0;}
.sidebar .block:not(.cols2) .template8 + .package .item > div:not(.avatar) {clear:none;}
.sidebar .block:not(.cols2) .template8 + .package .item .avatar + .item-content {width:calc(100% - 60px);margin-left:10px}
.sidebar .block:not(.cols2) .package .item .avatar + .avatar + .item-content {width:calc(100% - 96px);}
.sidebar .block.cols6 .package .headline {font-size:14px;line-height:16px;}
.sidebar .template8 + .package .item .avatar {margin-right:10px;}
.sidebar .template8 + .package .item .headline {font-size:16px;line-height:18px;font-weight:400;margin-top:0;margin-bottom:0;}
.sidebar .template8 + .package .item .underline {display:none;}
.sidebar .template7 + .package .item {padding-top:16px;}
.sidebar .block:not(.cols2) .template8 + .package .item {margin-top:16px;padding-top:16px;width:100%;}
.sidebar .block:not(.cols2) .template8 + .package .item:last-child {padding-bottom:16px;}
.sidebar .section-header + .block .item:first-child {margin-top:0;}
.sidebar #hp_section_1 .cols6 .item.template5.negative:first-child {border-top:16px solid;}
.sidebar .package.features.bgcolor {padding:0 16px 16px;width:calc(100% - 32px);}
.sidebar .cols4 .template3.features .above-headline {margin-bottom:5px;}
.sidebar .cols4 .template3.features .media {margin-bottom:16px;}
.sidebar .cols4 .template3.features .byline {margin-bottom:15px;}
.sidebar .cols4 .template3.features .underline {margin-bottom:0;}
.sidebar .label.live::before {width:12px;height:12px;margin-top:1px;}
/* tabs and modules */
.sidebar .widget {padding:16px 0;}
.sidebar .widget.nlsignup {padding-top:32px;}
.sidebar .widget .widget-header {padding:0 16px 16px;}
.sidebar .widget .widget-footer {padding:16px 16px 0;}
.sidebar .full-coverage .item {padding:16px;width:calc(100% - 32px);}
.sidebar .popular {padding-bottom:0;}
.sidebar .popular .tabs .period {display:none;}
.sidebar .popular .widget-body {display:block;padding-top:16px;height:600px;overflow-y:scroll;padding-right:25px;margin-right:-25px;}
.sidebar .popular .item.bgcolor {width:100%;height:268px;margin-bottom:16px;border-top:none;overflow:hidden;}
.sidebar .popular .widget-body ul {width:100%;display:block;}
.sidebar .popular .item:not(.bgcolor) {width:100%;padding-top:16px;margin-top:0;padding-bottom:16px;}
.sidebar .popular .item.bgcolor .item-wrap {padding:32px 16px 0;height:101px;}
.sidebar .popular .item.bgcolor .item-content {width:190px;}
.sidebar .popular .item.bgcolor img {margin-top:0;}
.sidebar .popular .item.bgcolor .number {font-size:60px;margin-top:-5px;margin-right:16px;width:30px;}
.sidebar .popular .item.bgcolor .headline {font-size:16px;line-height:18px;}
.sidebar .widget.live_updates .widget-body {height:400px}
.sidebar .full-coverage.widget {padding-bottom:0;}
.sidebar .full-coverage .widget-header {font-size:20px;}
.sidebar .full-coverage .widget-header span {font-size:12px;}
.sidebar .cols2 .full-coverage .media {margin-bottom:0;}
.sidebar .widget.latest_articles .item {padding:16px;}
.sidebar .widget.live_updates li:first-child .title {font-size:14px;line-height:17px;}
.sidebar .widget.live_updates .news-item {padding:16px;width:calc(100% - 32px);}
.sidebar .latest-split .widget {height:692px;margin-bottom:0;padding-top:0;}
.sidebar .latest-split .widget .widget-header {padding:16px 0;border-top-width:4px;}
.sidebar .latest-split .widget .widget-header::before {display:none;}
.sidebar .section-header {padding-top:16px;margin-bottom:16px;}
.sidebar .section-header .title {font-size:30px;text-align:center;width:100%;}
.sidebar .hp_section.start-up-israel .section-header {padding-top:25px;}
.sidebar .hp_section.start-up-israel .section-header .title img {width:66%;max-width:248px;}
.sidebar .slider .section-header .title {font-size:24px;}
.sidebar .highlights > .section-header::before,
.sidebar .slider {overflow:hidden;}
.sidebar .slider .section-header .subtitle,
.sidebar .slider .arrows {display:none;}
.sidebar .slider-viewport {overflow-x:scroll;overflow-y:hidden;margin-bottom:-25px;padding-top:25px;}
.sidebar .slider-viewport .item {margin-top:0;padding-top:0;}
.sidebar .slider-viewport .headline {font-size:16px;line-height:18px;}
.sidebar .hp_section.start-up-israel .section-header + .cols2 {padding:0;width:100%;margin-bottom:32px;}
/* liveblog */
.sidebar .liveblog-timeline {flex-flow:column;}
.sidebar .liveblog-timeline li {width:100% !important;margin-right:0;margin-top:4px;}
.sidebar .liveblog-timeline li:first-child {margin-top:0;}
/* tabs widget */
.sidebar .tabs-widget .block.cols4 {margin-bottom:0;width:100%;padding:0;}
/* latest comments */
.sidebar .slider.latest_commnets .slider-viewport .item {width:164px;}