.elexboxholder {
	margin-top: -7px;
}

.elexboxoverwrap {

}

.elexboxoverwrap li {
	margin-left: 1em;
	margin-bottom: 5px;
}

.elexboxoverwrap li:before {
	content: '\2022';
	position: absolute;
	left: 0;
	color: #9a9a9a;
}

div.skin-card .elexboxoverwrap li:before {
	left: 15px;
}

.elexboxtext, .elexboxbold, .elexboxsmall {
	font-family: 'FranklinITCProLight','FranklinITCStdLight',Helvetica,Arial,sans-serif;
	color:#2a2a2a;
	line-height: 1.3em;
	font-size: .9375rem;
	font-weight: normal;
	text-align: left;
}

.elexboxsmall {
	font-size: .875rem;
	text-transform: uppercase;
	margin: 15px 0 10px 0;
}

.elexboxoverwrap a, .elexboxbold, .big-button button {
	font-family: 'FranklinITCProBold','HelveticaNeue','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
	font-weight: normal;
}


div.hidebullets .related-links, div.hideblurb .blurb {
	display: none;
}

.elexboxtext a:after {
	display: inline;
	font-family: FontAwesome;
	content: "\f0a9";
	font-size: 90%;
	margin-left: 4px;
}

.elexboxtext a.noarrow:after {
	content: '';
	margin: 0;
}

.elexboxtext.elexboxsmall ~ div a:after {
	content: '';
}

div.skin-card .button-box, .button-box {
	/*text-align: center;*/
	/*background-color: #f7f7f7;*/
}

div.skin-card .button-box {
	/*background-color: #fff;*/
}

.big-button button {
	font-family: "FranklinITCProBold","HelveticaNeue","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	/*border: 2px solid #ececec;*/
	/*background-color: #fff;*/
	/*padding: 5px 10px;*/
	font-size: 1rem;
	padding: 0;
	background-color: #f7f7f7;
	line-height: 1;
	font-weight: bold;
	color: #808080;
	cursor: pointer;
	/*text-align: center;*/
	/*border-radius: 4px;*/
	margin: 5px 0 0 15px;
	-webkit-animation-name: blinkyguy;
			animation-name: blinkyguy;
	-webkit-animation-duration: 1.75s;
			animation-duration: 1.75s;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
}

div.skin-card .big-button button {
	background-color: #fff;
}

@-webkit-keyframes blinkyguy {
	0% { color: #808080; }
	50% { color: #1955a5; }
	100% { color: #808080; }
}

@keyframes blinkyguy {
	0% { color: #808080; }
	50% { color: #1955a5; }
	100% { color: #808080; }
}

.big-button button:hover {
	color: #1955a5;
	/*-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;*/
	-webkit-animation: none;
			animation: none;
}

/*JS manipulates this*/
#elexboxunveil {
	height: 0px;
	overflow: auto;
	opacity: 0;
	/*-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;*/
}

.arrowdown:after, .arrowup:after {
	display: inline;
	font-family: 'FontAwesome';
	font-size: 90%;
	margin-left: 4px;
}

.arrowdown:after { content: '\f078'; }

.arrowup:after { content: '\f077'; }

@media only screen and (max-width: 600px), (min-width: 992px) and (max-width: 1199px) {
	
}

@media only screen and (max-width: 500px) {
	
}

/* ================= INTERNET EXPLORER HACKS ================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.elexboxoverwrap li:before {
		content: '';
	}

	div.skin-card .elexboxoverwrap li:before {
		left: initial;
	}
}