#pr_wrap #modal {
  position: fixed;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  z-index: 101;
  width: 50%;
  min-height: 200px;
  height: auto;
  background: white;
  top: 50%;
  transform: translate(-50%,-50%);
  max-width: 600px;
  margin-left: 50%;
  box-sizing: border-box;
  padding: 30px;
}

#pr_wrap #modal h3 {
    font-size: 1.2em;
    font-family: 'EB Garamond', serif;
}

#pr_wrap #modal input {
    padding: 15px 10px;
    border: 2px solid #000;
    width: 90%;
    height: auto;
    color: #333;
    font-size: 1.1em;
    font-family: 'Bebas Neue', sans-serif;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 10px;
}

#modal .submit a {
    background: black;
    border: none;
    font-size: 1.4em;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    font-family: 'Bebas Neue', sans-serif;
    cursor: pointer;
    display: inline-block;
}

#pr_wrap #modal input[type=submit] {
  background: black;
  border: none;
  font-size: 1.4em;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  font-family: 'Bebas Neue', sans-serif;
  cursor: pointer;
  margin: 5px 0 0 0;
  max-width: 150px;
}

@media screen and (max-width: 800px){

  #pr_wrap #modal #rc-imageselect, #pr_wrap #modal .g-recaptcha {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }

  #pr_wrap #modal .g-recaptcha {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
  }

  #pr_wrap #modal {
    width: 90%;
    padding: 15px;
  }

}

#pr_wrap p.error {
    color: #e14949;
}

#pr_wrap p.success {
    color: #009e55;
}