@import url("reset.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond|Open+Sans+Condensed:300");
@import url("fonts.css");
@import url("misc.css");
@import url("mobile.css") only screen and  (min-width:1px) and (max-width:599px);
@import url("tablet_small.css") only screen and  (min-width:600px) and (max-width:800px);
@import url("tablet.css") only screen and  (min-width:801px) and (max-width:1024px);
@import url("desktop.css") only screen and (min-width:1025px);



.support-tools-title {
   background: #ffa319;
   padding: 10px 20px 15px;
}

.support-tools-title h3 {
   font-size: 21px;
   font-family: open sans;
   margin-bottom: 10px;
   text-transform: uppercase;
}

.support-tools-title h4 {
   font-size: 16px;
   font-family: open sans;
   font-weight: 600;
   line-height: 1.3;
   color: #000;
   margin-bottom: 15px;
}

.support-tools-title .textmain a.button {
   display: inline-block;
   font-size: 14px;
   color: #222;
   text-transform: uppercase;
   font-family: open sans;
   font-weight: 600;
   background: #fff;
   padding: 4px 12px;
   border-radius: 3px;
}

.support-tools-title .textmain {
   padding-left: 20px;
   width: 78%;
   box-sizing: border-box;
}

div#mc_embed_signup_scroll {
    background-color: orange;
    padding: 10px;
    box-sizing: border-box;
}

div#served_206327_0 {
    display: block !important;
}

div#mc_embed_signup_scroll > .clear {
    clear: none !important;
    height: auto !important;
}