@charset "UTF-8";
/* H1 - H6 的字号以此基准设置 */
/* 屏幕临界点 */
/* 布局列间隔 */
/*色系*/
/*色系·列表*/
/*响应工具*/
.visible-xs, .visible-xs-up, .visible-xs-down, .visible-sm, .visible-sm-up, .visible-sm-down, .visible-md, .visible-md-up, .visible-md-down, .visible-lg, .visible-lg-up, .visible-lg-down { display: none; }

/* 单区间 */
@media (max-width: 767px) { .visible-xs { display: block; } }

@media (min-width: 768px) and (max-width: 959px) { .visible-sm { display: block; } }

@media (min-width: 960px) and (max-width: 1199px) { .visible-md { display: block; } }

@media (min-width: 1200px) { .visible-lg { display: block; } }

/* 多区间 UP */
@media (min-width: 767px) { .visible-xs-up { display: block; } }

@media (min-width: 959px) { .visible-sm-up { display: block; } }

@media (min-width: 1199px) { .visible-md-up { display: block; } }

@media (min-width: 1200px) { .visible-lg-up { display: block; } }

/* 多区间 DOWN */
@media (max-width: 1px) { .visible-xs-down { display: block; } }

@media (max-width: 768px) { .visible-sm-down { display: block; } }

@media (max-width: 960px) { .visible-md-down { display: block; } }

@media (max-width: 1200px) { .visible-lg-down { display: block; } }

/* 单区间 */
@media (max-width: 767px) { .hidden-xs { display: none; } }

@media (min-width: 768px) and (max-width: 959px) { .hidden-sm { display: none; } }

@media (min-width: 960px) and (max-width: 1199px) { .hidden-md { display: none; } }

@media (min-width: 1200px) { .hidden-lg { display: none; } }

/* 多区间 UP */
@media (min-width: 767px) { .hidden-xs-up { display: none; } }

@media (min-width: 959px) { .hidden-sm-up { display: none; } }

@media (min-width: 1199px) { .hidden-md-up { display: none; } }

@media (min-width: 1200px) { .hidden-lg-up { display: none; } }

/* 多区间 DOWN */
@media (max-width: 1px) { .hidden-xs-down { display: none; } }

@media (max-width: 768px) { .hidden-sm-down { display: none; } }

@media (max-width: 960px) { .hidden-md-down { display: none; } }

@media (max-width: 1200px) { .hidden-lg-down { display: none; } }

/* 打印类型 */
.visible-print { display: none; }

@media print { .visible-print { display: block; }
  .hidden-print { display: none; } }

/* 显示-隐藏 */
.show { display: block !important; }

.hidden { display: none !important; }

.invisible { visibility: hidden; }

/* 浮动 */
.float-left { float: left !important; }

.float-right { float: right !important; }

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

.block-center { display: block; margin-left: auto; margin-right: auto; }

/* 文本工具类 */
.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.text-indent { text-indent: 2em; }

/* 情景色文本 */
.text-primary { color: #267; }

.text-success { color: #7B0; }

.text-info { color: #39D; }

.text-warning { color: #F80; }

.text-danger { color: #D33; }

/* 情景色背景 */
.bg-primary { background-color: #278; color: #FFF; padding: 1em; }

.bg-success { background-color: #dff0d8; color: #006400; padding: 1em; }

.bg-info { background-color: #d9edf7; color: #4682B4; padding: 1em; }

.bg-warning { background-color: #fcf8e3; color: #A0522D; padding: 1em; }

.bg-danger { background-color: #f2dede; color: #B22222; padding: 1em; }

/* 内外边距 */
.m-t { margin-top: 15px !important; }

.m-t-xs { margin-top: 10px !important; }

.m-t-sm { margin-top: 20px !important; }

.m-t-md { margin-top: 30px !important; }

.m-t-lg { margin-top: 45px !important; }

.m-r { margin-right: 15px !important; }

.m-r-xs { margin-right: 10px !important; }

.m-r-sm { margin-right: 20px !important; }

.m-r-md { margin-right: 30px !important; }

.m-r-lg { margin-right: 45px !important; }

.m-b { margin-bottom: 15px !important; }

.m-b-xs { margin-bottom: 10px !important; }

.m-b-sm { margin-bottom: 20px !important; }

.m-b-md { margin-bottom: 30px !important; }

.m-b-lg { margin-bottom: 45px !important; }

.m-l { margin-left: 15px !important; }

.m-l-xs { margin-left: 10px !important; }

.m-l-sm { margin-left: 20px !important; }

.m-l-md { margin-left: 30px !important; }

.m-l-lg { margin-left: 45px !important; }

.m-n { margin: 0 !important; }

.p-t { padding-top: 15px !important; }

.p-t-xs { padding-top: 10px !important; }

.p-t-sm { padding-top: 20px !important; }

.p-t-md { padding-top: 30px !important; }

.p-t-lg { padding-top: 45px !important; }

.p-r { padding-right: 15px !important; }

.p-r-xs { padding-right: 10px !important; }

.p-r-sm { padding-right: 20px !important; }

.p-r-md { padding-right: 30px !important; }

.p-r-lg { padding-right: 45px !important; }

.p-b { padding-bottom: 15px !important; }

.p-b-xs { padding-bottom: 10px !important; }

.p-b-sm { padding-bottom: 20px !important; }

.p-b-md { padding-bottom: 30px !important; }

.p-b-lg { padding-bottom: 45px !important; }

.p-l { padding-left: 15px !important; }

.p-l-xs { padding-left: 10px !important; }

.p-l-sm { padding-left: 20px !important; }

.p-l-md { padding-left: 30px !important; }

.p-l-lg { padding-left: 45px !important; }

.p-n { padding: 0 !important; }

/*徽标*/
.badge { border-radius: 3px; padding: 2px 6px; font-size: 80%; color: #FFF; background-color: #EEE; color: #267; }

.badge-primary { background-color: #267; border-radius: 3px; padding: 2px 6px; font-size: 80%; color: #FFF; }

.badge-success { background-color: #7B0; border-radius: 3px; padding: 2px 6px; font-size: 80%; color: #FFF; }

.badge-info { background-color: #39D; border-radius: 3px; padding: 2px 6px; font-size: 80%; color: #FFF; }

.badge-warning { background-color: #F80; border-radius: 3px; padding: 2px 6px; font-size: 80%; color: #FFF; }

.badge-danger { background-color: #D33; border-radius: 3px; padding: 2px 6px; font-size: 80%; color: #FFF; }

.badge-notification { border-radius: 1em !important; }

/* 重置元素样式 */
html { font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; color: #333; }

html, body { margin: 0; }

img, a { border: none; }

a { text-decoration: none; color: #37B; }

a:hover { color: #F55; }

::selection { background: #FFA; color: #333; text-shadow: none; }

code { color: #A00; background: #FEE; padding: 2px 5px; line-height: 1em; margin: 0 3px; display: inline-block; font-family: Consolas, Monaco, 'Andale Mono', monospace; }

h1, h2, h3, h4, h5, h6 { line-height: 1.6em; margin: 0.5em 0; font-weight: normal; }

h1 { font-size: 38px; }

h2 { font-size: 26px; }

h3 { font-size: 20px; }

h4 { font-size: 18px; }

h5 { font-size: 16px; }

h6 { font-size: 14px; }

hr { border-top-width: 0; border-left-width: 0; border-right-width: 0; border-bottom-width: 1px; border-color: #ddd; }

/* 段落 */
p { line-height: 1.8em; margin: 1em 0 1.5em 0; }

sub, sup { font-size: 12px; }

small { font-size: 70%; color: #777777; }

/* 列表 */
ul, ol { margin: 1em 0; padding-left: 1.5em; }

ul li, ol li { line-height: 1.8em; }

.list-unstyled { list-style: none; padding: 0; }

/* 描述列表 */
dl, dl.dl-horizontal { margin: 1em 0; line-height: 1.8em; }

dl dt, dl.dl-horizontal dt { font-weight: bold; }

dl dd, dl.dl-horizontal dd { margin: 0; }

dl.dl-horizontal dt { width: 160px; float: left; }

dl.dl-horizontal dd { padding-left: 190px; }

/* 图片 */
img { max-width: 100%; height: auto; border: none; box-sizing: border-box; }

img.img-rounded { border-radius: 1em; }

img.img-circle { border-radius: 50%; }

img.img-thumbnail { border: 1px solid #ddd; padding: 5px; background: #FFF; }

img.img-preserve { max-width: auto; }

/* 布局 通过 10|12 等分，实现 1、2、3、4、5、6 的公倍数栅格 间隔 30px */
.container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; box-sizing: border-box; }

@media (min-width: 768px) { .container { width: 738px; } }

@media (min-width: 960px) { .container { width: 930px; } }

@media (min-width: 1200px) { .container { width: 1170px; } }

.container:before, .container:after { content: " "; display: table; }

.container:after { clear: both; }

.container-fluid { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; box-sizing: border-box; }

.container-fluid:before, .container-fluid:after { content: " "; display: table; }

.container-fluid:after { clear: both; }

.row { margin-left: -15px; margin-right: -15px; }

.row:before, .row:after { content: " "; display: table; }

.row:after { clear: both; }

.col-xs-1-12 { width: 8.33333%; }

.col-xs-2-12 { width: 16.66667%; }

.col-xs-3-12 { width: 25%; }

.col-xs-4-12 { width: 33.33333%; }

.col-xs-5-12 { width: 41.66667%; }

.col-xs-6-12 { width: 50%; }

.col-xs-7-12 { width: 58.33333%; }

.col-xs-8-12 { width: 66.66667%; }

.col-xs-9-12 { width: 75%; }

.col-xs-10-12 { width: 83.33333%; }

.col-xs-11-12 { width: 91.66667%; }

.col-xs-12-12 { width: 100%; }

.col-xs-1-12, .col-xs-2-12, .col-xs-3-12, .col-xs-4-12, .col-xs-5-12, .col-xs-6-12, .col-xs-7-12, .col-xs-8-12, .col-xs-9-12, .col-xs-10-12, .col-xs-11-12, .col-xs-12-12 { float: left; padding: 0 15px; box-sizing: border-box; flex: none; }

@media (min-width: 768px) { .col-sm-1-12 { width: 8.33333%; }
  .col-sm-2-12 { width: 16.66667%; }
  .col-sm-3-12 { width: 25%; }
  .col-sm-4-12 { width: 33.33333%; }
  .col-sm-5-12 { width: 41.66667%; }
  .col-sm-6-12 { width: 50%; }
  .col-sm-7-12 { width: 58.33333%; }
  .col-sm-8-12 { width: 66.66667%; }
  .col-sm-9-12 { width: 75%; }
  .col-sm-10-12 { width: 83.33333%; }
  .col-sm-11-12 { width: 91.66667%; }
  .col-sm-12-12 { width: 100%; }
  .col-sm-1-12, .col-sm-2-12, .col-sm-3-12, .col-sm-4-12, .col-sm-5-12, .col-sm-6-12, .col-sm-7-12, .col-sm-8-12, .col-sm-9-12, .col-sm-10-12, .col-sm-11-12, .col-sm-12-12 { float: left; padding: 0 15px; box-sizing: border-box; flex: none; } }

@media (min-width: 960px) { .col-md-1-12 { width: 8.33333%; }
  .col-md-2-12 { width: 16.66667%; }
  .col-md-3-12 { width: 25%; }
  .col-md-4-12 { width: 33.33333%; }
  .col-md-5-12 { width: 41.66667%; }
  .col-md-6-12 { width: 50%; }
  .col-md-7-12 { width: 58.33333%; }
  .col-md-8-12 { width: 66.66667%; }
  .col-md-9-12 { width: 75%; }
  .col-md-10-12 { width: 83.33333%; }
  .col-md-11-12 { width: 91.66667%; }
  .col-md-12-12 { width: 100%; }
  .col-md-1-12, .col-md-2-12, .col-md-3-12, .col-md-4-12, .col-md-5-12, .col-md-6-12, .col-md-7-12, .col-md-8-12, .col-md-9-12, .col-md-10-12, .col-md-11-12, .col-md-12-12 { float: left; padding: 0 15px; box-sizing: border-box; flex: none; } }

@media (min-width: 1200px) { .col-lg-1-12 { width: 8.33333%; }
  .col-lg-2-12 { width: 16.66667%; }
  .col-lg-3-12 { width: 25%; }
  .col-lg-4-12 { width: 33.33333%; }
  .col-lg-5-12 { width: 41.66667%; }
  .col-lg-6-12 { width: 50%; }
  .col-lg-7-12 { width: 58.33333%; }
  .col-lg-8-12 { width: 66.66667%; }
  .col-lg-9-12 { width: 75%; }
  .col-lg-10-12 { width: 83.33333%; }
  .col-lg-11-12 { width: 91.66667%; }
  .col-lg-12-12 { width: 100%; }
  .col-lg-1-12, .col-lg-2-12, .col-lg-3-12, .col-lg-4-12, .col-lg-5-12, .col-lg-6-12, .col-lg-7-12, .col-lg-8-12, .col-lg-9-12, .col-lg-10-12, .col-lg-11-12, .col-lg-12-12 { float: left; padding: 0 15px; box-sizing: border-box; flex: none; } }

.col-xs-1-10 { width: 10%; }

.col-xs-2-10 { width: 20%; }

.col-xs-3-10 { width: 30%; }

.col-xs-4-10 { width: 40%; }

.col-xs-5-10 { width: 50%; }

.col-xs-6-10 { width: 60%; }

.col-xs-7-10 { width: 70%; }

.col-xs-8-10 { width: 80%; }

.col-xs-9-10 { width: 90%; }

.col-xs-10-10 { width: 100%; }

.col-xs-1-10, .col-xs-2-10, .col-xs-3-10, .col-xs-4-10, .col-xs-5-10, .col-xs-6-10, .col-xs-7-10, .col-xs-8-10, .col-xs-9-10, .col-xs-10-10 { float: left; padding: 0 15px; box-sizing: border-box; flex: none; }

@media (min-width: 768px) { .col-sm-1-10 { width: 10%; }
  .col-sm-2-10 { width: 20%; }
  .col-sm-3-10 { width: 30%; }
  .col-sm-4-10 { width: 40%; }
  .col-sm-5-10 { width: 50%; }
  .col-sm-6-10 { width: 60%; }
  .col-sm-7-10 { width: 70%; }
  .col-sm-8-10 { width: 80%; }
  .col-sm-9-10 { width: 90%; }
  .col-sm-10-10 { width: 100%; }
  .col-sm-1-10, .col-sm-2-10, .col-sm-3-10, .col-sm-4-10, .col-sm-5-10, .col-sm-6-10, .col-sm-7-10, .col-sm-8-10, .col-sm-9-10, .col-sm-10-10 { float: left; padding: 0 15px; box-sizing: border-box; flex: none; } }

@media (min-width: 960px) { .col-md-1-10 { width: 10%; }
  .col-md-2-10 { width: 20%; }
  .col-md-3-10 { width: 30%; }
  .col-md-4-10 { width: 40%; }
  .col-md-5-10 { width: 50%; }
  .col-md-6-10 { width: 60%; }
  .col-md-7-10 { width: 70%; }
  .col-md-8-10 { width: 80%; }
  .col-md-9-10 { width: 90%; }
  .col-md-10-10 { width: 100%; }
  .col-md-1-10, .col-md-2-10, .col-md-3-10, .col-md-4-10, .col-md-5-10, .col-md-6-10, .col-md-7-10, .col-md-8-10, .col-md-9-10, .col-md-10-10 { float: left; padding: 0 15px; box-sizing: border-box; flex: none; } }

@media (min-width: 1200px) { .col-lg-1-10 { width: 10%; }
  .col-lg-2-10 { width: 20%; }
  .col-lg-3-10 { width: 30%; }
  .col-lg-4-10 { width: 40%; }
  .col-lg-5-10 { width: 50%; }
  .col-lg-6-10 { width: 60%; }
  .col-lg-7-10 { width: 70%; }
  .col-lg-8-10 { width: 80%; }
  .col-lg-9-10 { width: 90%; }
  .col-lg-10-10 { width: 100%; }
  .col-lg-1-10, .col-lg-2-10, .col-lg-3-10, .col-lg-4-10, .col-lg-5-10, .col-lg-6-10, .col-lg-7-10, .col-lg-8-10, .col-lg-9-10, .col-lg-10-10 { float: left; padding: 0 15px; box-sizing: border-box; flex: none; } }

.col-xs-1-10, .col-sm-1-10, .col-md-1-10, .col-lg-1-10, .col-xs-2-10, .col-sm-2-10, .col-md-2-10, .col-lg-2-10, .col-xs-3-10, .col-sm-3-10, .col-md-3-10, .col-lg-3-10, .col-xs-4-10, .col-sm-4-10, .col-md-4-10, .col-lg-4-10, .col-xs-5-10, .col-sm-5-10, .col-md-5-10, .col-lg-5-10, .col-xs-6-10, .col-sm-6-10, .col-md-6-10, .col-lg-6-10, .col-xs-7-10, .col-sm-7-10, .col-md-7-10, .col-lg-7-10, .col-xs-8-10, .col-sm-8-10, .col-md-8-10, .col-lg-8-10, .col-xs-9-10, .col-sm-9-10, .col-md-9-10, .col-lg-9-10, .col-xs-10-10, .col-sm-10-10, .col-md-10-10, .col-lg-10-10, .col-xs-1-12, .col-sm-1-12, .col-md-1-12, .col-lg-1-12, .col-xs-2-12, .col-sm-2-12, .col-md-2-12, .col-lg-2-12, .col-xs-3-12, .col-sm-3-12, .col-md-3-12, .col-lg-3-12, .col-xs-4-12, .col-sm-4-12, .col-md-4-12, .col-lg-4-12, .col-xs-5-12, .col-sm-5-12, .col-md-5-12, .col-lg-5-12, .col-xs-6-12, .col-sm-6-12, .col-md-6-12, .col-lg-6-12, .col-xs-7-12, .col-sm-7-12, .col-md-7-12, .col-lg-7-12, .col-xs-8-12, .col-sm-8-12, .col-md-8-12, .col-lg-8-12, .col-xs-9-12, .col-sm-9-12, .col-md-9-12, .col-lg-9-12, .col-xs-10-12, .col-sm-10-12, .col-md-10-12, .col-lg-10-12, .col-xs-11-12, .col-sm-11-12, .col-md-11-12, .col-lg-11-12, .col-xs-12-12, .col-sm-12-12, .col-md-12-12, .col-lg-12-12 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; flex: none; }

table { border-spacing: 0; border-collapse: collapse; width: 100%; border-bottom: 1px solid #ddd; }

table > thead > tr > th, table > thead > tr > td, table > tbody > tr > th, table > tbody > tr > td, table > tfoot > tr > th, table > tfoot > tr > td { padding: 1em; text-align: left; border-bottom: 1px solid #ddd; }

table > thead > tr > th, table > thead > tr > td { border-bottom-width: 2px; }

table > tfoot { font-style: italic; color: #888; }

.table-bordered { border: 1px solid #ddd; }

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td { border: 1px solid #ddd; }

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td { border-bottom-width: 2px; }

.table-unstyled { border: none; }

.table-unstyled > thead > tr > th, .table-unstyled > thead > tr > td, .table-unstyled > tbody > tr > th, .table-unstyled > tbody > tr > td, .table-unstyled > tfoot > tr > th, .table-unstyled > tfoot > tr > td { border: none; }

/* 压缩间隔 */
.table-condensed > thead > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > tfoot > tr > td { padding: 0.5em; }

/* 表格工具 */
.table-striped tbody > tr:nth-of-type(odd) { background: #fafafa; }

.table-hover tbody > tr:hover { background: #F2F2F2; }

.btn { box-sizing: border-box; padding: 0.5em 1em; font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: center; vertical-align: middle; cursor: pointer; word-spacing: normal; font-size: 14px; }

.btn { background: #F2F2F2; border: 1px solid #e1e1e1; color: #333; }

.btn:hover { color: #333; }

.btn:hover, .btn.active { background: white; border: 1px solid #F2F2F2; }

.btn-primary { background: #267; border: 1px solid #115566; color: #FFF; }

.btn-primary:hover { color: #FFF; }

.btn-primary:hover, .btn-primary.active { background: #337788; border: 1px solid #267; }

.btn-success { background: #7B0; border: 1px solid #66aa00; color: #FFF; }

.btn-success:hover { color: #FFF; }

.btn-success:hover, .btn-success.active { background: #88cc11; border: 1px solid #7B0; }

.btn-info { background: #39D; border: 1px solid #2288cc; color: #FFF; }

.btn-info:hover { color: #FFF; }

.btn-info:hover, .btn-info.active { background: #44aaee; border: 1px solid #39D; }

.btn-warning { background: #F80; border: 1px solid #ee7700; color: #FFF; }

.btn-warning:hover { color: #FFF; }

.btn-warning:hover, .btn-warning.active { background: #ff9911; border: 1px solid #F80; }

.btn-danger { background: #D33; border: 1px solid #cc2222; color: #FFF; }

.btn-danger:hover { color: #FFF; }

.btn-danger:hover, .btn-danger.active { background: #ee4444; border: 1px solid #D33; }

.btn-xs { font-size: 12px; padding: 1px 5px; }

.btn-sm { font-size: 12px; padding: 5px 10px; }

.btn-md { font-size: 22px; }

.btn-lg { font-size: 30px; }

button[disabled], button[disabled]:hover { color: #AAA; background-color: #EEE; border-color: #DDD; cursor: not-allowed; }

.btn-group:before, .btn-group:after { content: " "; display: table; }

.btn-group:after { clear: both; }

.btn-group button { float: left; margin-left: -1px; }

.btn-group button:first-child { margin-left: 0; }

/* 导航 */
.nav { margin: 0; padding: 0; }

.nav li { list-style: none; position: relative; }

.nav li > a { display: block; padding: 15px; line-height: 20px; color: #333; }

.nav li > a:hover { color: black; }

/* 导航条 */
.navbar { position: relative; padding: 0; margin: 0; background: #F2F2F2; /* 导航头部 */ /* 导航组件 */ /* 导航组件 */ }

.navbar li { list-style: none; position: relative; }

.navbar li.active { background: #e1e1e1; }

.navbar li > a { display: block; padding: 15px; line-height: 20px; color: #333; }

.navbar li > a:hover { color: black; }

.navbar .navbar-header { float: left; }

.navbar .navbar-header:before, .navbar .navbar-header:after { content: " "; display: table; }

.navbar .navbar-header:after { clear: both; }

.navbar .navbar-header .navbar-logo { float: left; height: 20px; margin: 15px; line-height: 20px; font-weight: bold; }

.navbar .navbar-header .navbar-toggle { margin: 10px 15px; height: 30px; border: 1px solid #ddd; padding: 6px 10px; display: none; }

.navbar .navbar-nav { list-style-type: none; padding: 0; margin: 0; float: left; }

.navbar .navbar-nav li { float: left; }

.navbar .navbar-right { float: right; }

.navbar:before, .navbar:after { content: " "; display: table; }

.navbar:after { clear: both; }

.dropdown-menu { position: absolute; padding: 5px 0; margin: 0; border-radius: 3px; border: 1px solid rgba(0, 0, 0, 0.2); background: #FFF; box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); min-width: 160px; display: none; z-index: 999; }

.dropdown-menu li { float: none !important; }

.dropdown-menu li.header { padding: 6px 15px; margin: 0; font-weight: bold; color: #555; }

.dropdown-menu li.disabled { font-style: italic; color: #DDD; cursor: not-allowed; }

.dropdown-menu li.disabled a { color: #DDD; cursor: not-allowed; }

.dropdown-menu li.disabled a:hover { background: none; }

.dropdown-menu li.active { background: #e1e1e1; }

.dropdown-menu li.active a { background: #e1e1e1; }

.dropdown-menu li.divider { margin: 5px 0; border-top: 1px solid #ddd; line-height: 0; height: 0; }

.dropdown-menu li a { color: #333; display: block; padding: 6px 15px; }

.dropdown-menu li a:hover { background: #e9e9e9; }

.navbar-default { background: #F2F2F2; border: 1px solid #ddd; }

.navbar-default li.active { background: #e1e1e1; }

.navbar-inverse { color: #F2F2F2; background: #267; border: none; }

.navbar-inverse li.active, .navbar-inverse li.active > a { background: #004455 !important; }

.navbar-inverse li > a { color: #F2F2F2; }

.navbar-inverse li > a:hover { color: white; background: #195d6e; }

.navbar-inverse li .dropdown-menu li { background: #FFF; }

.navbar-inverse li .dropdown-menu li > a { color: #267; }

.navbar-inverse li .dropdown-menu li.active > a, .navbar-inverse li .dropdown-menu li > a:hover { color: #FFF; }

.navbar-inverse li .dropdown-menu li.disabled > a { color: #DDD; }

@media (max-width: 479px) { .navbar-xs .navbar-header { float: none; }
  .navbar-xs .navbar-header:before, .navbar-xs .navbar-header:after { content: " "; display: table; }
  .navbar-xs .navbar-header:after { clear: both; }
  .navbar-xs .navbar-header .navbar-toggle { display: block; }
  .navbar-xs .navbar-nav, .navbar-xs .navbar-nav li { float: none; }
  .navbar-xs .dropdown-menu { position: relative; box-shadow: none; border: none; background: #F2F2F2; color: #333; }
  .navbar-xs .dropdown-menu li.header { padding-left: 20px; }
  .navbar-xs .dropdown-menu li a { color: #333; padding-left: 20px; }
  .navbar-xs .dropdown-menu li a:hover { background: none; } }

@media (max-width: 767px) { .navbar-sm .navbar-header { float: none; }
  .navbar-sm .navbar-header:before, .navbar-sm .navbar-header:after { content: " "; display: table; }
  .navbar-sm .navbar-header:after { clear: both; }
  .navbar-sm .navbar-header .navbar-toggle { display: block; }
  .navbar-sm .navbar-nav, .navbar-sm .navbar-nav li { float: none; }
  .navbar-sm .dropdown-menu { position: relative; box-shadow: none; border: none; background: #F2F2F2; color: #333; }
  .navbar-sm .dropdown-menu li.header { padding-left: 20px; }
  .navbar-sm .dropdown-menu li a { color: #333; padding-left: 20px; }
  .navbar-sm .dropdown-menu li a:hover { background: none; } }

@media (max-width: 959px) { .navbar-md .navbar-header { float: none; }
  .navbar-md .navbar-header:before, .navbar-md .navbar-header:after { content: " "; display: table; }
  .navbar-md .navbar-header:after { clear: both; }
  .navbar-md .navbar-header .navbar-toggle { display: block; }
  .navbar-md .navbar-nav, .navbar-md .navbar-nav li { float: none; }
  .navbar-md .dropdown-menu { position: relative; box-shadow: none; border: none; background: #F2F2F2; color: #333; }
  .navbar-md .dropdown-menu li.header { padding-left: 20px; }
  .navbar-md .dropdown-menu li a { color: #333; padding-left: 20px; }
  .navbar-md .dropdown-menu li a:hover { background: none; } }

@media (max-width: 1199px) { .navbar-lg .navbar-header { float: none; }
  .navbar-lg .navbar-header:before, .navbar-lg .navbar-header:after { content: " "; display: table; }
  .navbar-lg .navbar-header:after { clear: both; }
  .navbar-lg .navbar-header .navbar-toggle { display: block; }
  .navbar-lg .navbar-nav, .navbar-lg .navbar-nav li { float: none; }
  .navbar-lg .dropdown-menu { position: relative; box-shadow: none; border: none; background: #F2F2F2; color: #333; }
  .navbar-lg .dropdown-menu li.header { padding-left: 20px; }
  .navbar-lg .dropdown-menu li a { color: #333; padding-left: 20px; }
  .navbar-lg .dropdown-menu li a:hover { background: none; } }

/*面包屑导航*/
.breadcrumb { margin-top: 0.6em; margin-bottom: 0.6em; margin-left: 0; margin-right: 0; padding: 0; list-style: none; }

.breadcrumb:before, .breadcrumb:after { content: " "; display: table; }

.breadcrumb:after { clear: both; }

.breadcrumb > a, .breadcrumb li { float: left; margin-right: 1.6em; position: relative; }

.breadcrumb > a:after, .breadcrumb li:after { content: '/'; top:0; position: absolute; right: -1.2em; color: #999; }

.breadcrumb > a:last-child, .breadcrumb li:last-child { overflow: hidden; }

.form-text { text-indent: 0.5em; border-color: #333; border-width: 1px; box-sizing: border-box; color: #888; border-radius: 3px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.form-text:focus { border-color: #3ee391; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #c4f7dd; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #c4f7dd; }

a { color: #333; }

a:hover { color: #F42; }

.topbar { padding: 0.8em 0; border-bottom: 1px solid #ddd; }

.topbar .extend-link { float: right; }

.topbar .extend-link i { font-style: normal; padding: 0 5px; color: #888; }

.header { padding: 2em 0; }

.header .logo { float: left; background-image: url("logo.jpg"); height: 65px; width: 170px; overflow: hidden; background-repeat: no-repeat; }

.header .logo h1 { display: none; }

.header .search { float: right; }

.header .search .form-text { float: left; height: 35px; font-size: 12px; border-right: none; border-radius: 3px 0 0 3px; }

.header .search .btn { border-radius: 0 3px 3px 0; }

.input-group { display: table; border-collapse: collapse; }

.input-group input[type='text'], .input-group .input-group-btn { display: table-cell; position: relative; box-sizing: border-box; }

.input-group input[type='text'] { width: 100%; }

.input-group .btn-group { display: table-cell; word-spacing: normal; width: 1%; vertical-align: middle; }

.input-group .btn-group .btn { margin-left: -1px; margin-right: -1px; border-radius: 0; z-index: 2; position: relative; }

.input-group .btn-group:first-child .btn { border-radius: 2px 0 0 2px; margin-right: -1px; margin-left: 0; }

.input-group .btn-group:last-child .btn { border-radius: 0 2px 2px 0; margin-left: -1px; margin-right: 0; }

.input-group input[type='text']:first-child { border-radius: 2px 0 0 2px; }

.input-group input[type='text']:last-child { border-radius: 0 2px 2px 0; }

body { font-family: 'Verdana'; }

.breadcrumb {border-bottom: 1px solid #eee;float: left; margin: 0;}
.breadcrumb a { color: #888; line-height:2em;}
.breadcrumb a:hover { color: #f42; }
@media (max-width: 760px) { .breadcrumb { display: none; } }

/* mixin CSS3前缀图标*/
/*站点导航*/
/*移动端菜单图标*/
.menuicon { width: 30px; height: 30px; position: relative; }

.menuicon span { display: block; position: absolute; background: #FFF; left: 0; right: 0; height: 2px; top: 14px; -webkit-transition: background 0.3s 0.5s ease; -moz-transition: background 0.3s 0.5s ease; -ms-transition: background 0.3s 0.5s ease; -o-transition: background 0.3s 0.5s ease; transition: background 0.3s 0.5s ease; }

.menuicon span:before, .menuicon span:after { content: ''; position: absolute; height: 2px; left: 0; right: 0; background: #FFF; -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; transform-origin: 50% 50%; transition: top .3s .5s ease, -webkit-transform .3s ease; transition: top .3s .5s ease, transform .3s ease; }

.menuicon span:before { top: -10px; }

.menuicon span:after { top: 10px; }

.menuicon.close span { -webkit-transition: background 0.3s 0.3s ease; -moz-transition: background 0.3s 0.3s ease; -ms-transition: background 0.3s 0.3s ease; -o-transition: background 0.3s 0.3s ease; transition: background 0.3s 0.3s ease; background: transparent; }

.menuicon.close span:before, .menuicon.close span:after { top: 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); transition: top .3s ease, -webkit-transform .3s .5s ease; transition: top .3s ease, transform .3s .5s ease; }

.menuicon.close span:after { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

/*导航条*/
.nav-main { background-color: #267; background-image: linear-gradient(135deg, #145, #276, #145); box-shadow: 0 0 20px #666; border-bottom: none; }

.nav-main .container { position: relative; }

.nav-main .brand { padding: 10px; left: 15px; line-height: 30px; position: absolute; }

.nav-main .brand:hover { background: #6A7; }

.nav-main .brand img { float: left; height: 30px; }

.nav-main .brand span { font-weight: bold; color: #267; line-height: 30px; display: none; }

.nav-main .site-name { margin: 0 0 0 10px; line-height: 50px; font-size: 16px; font-weight: bold; color: #FFF; text-align: center; }

.nav-main .nav-bar { margin: 0 0 0 40px; float: left; list-style: none; }

.nav-main .nav-bar li { float: left; }

.nav-main .nav-bar li a { display: block; color: #FFF; font-size: 12px; padding: 0 10px; line-height: 50px; }

.nav-main .nav-bar li.active { color: #5A6; background: #5A6; font-weight: bold; }

.nav-main .nav-bar li.active > a { text-shadow: 0px 0px 6px #145; }

.nav-main .nav-bar li:hover { background: #5A6; color: #FFF; }

.nav-main .nav-bar li.dropdown .dropdown-menu { border-radius: 0 0 3px 3px; border: none; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); list-style: none; }

.nav-main .nav-bar li.dropdown .dropdown-menu a { line-height: 3em; }

.nav-main .nav-bar li.dropdown.active { color: #5A6; background: #5A6; font-weight: bolder; }

.nav-main .nav-bar li.dropdown:hover { background: #FFF; }

.nav-main .nav-bar li.dropdown:hover a { color: #5A6; text-shadow: none; }

.nav-main .nav-bar li.dropdown:hover .dropdown-menu { display: block; width: 220px; }

.nav-main .nav-bar li.dropdown:hover .dropdown-menu a { color: #555; font-weight: normal; }

.nav-main .nav-bar li.dropdown:hover .dropdown-menu a:hover { background: #E9F9E9; color: #5A6; }

.nav-main .search { width: 232px; float: right; margin: 10px 0; }

.nav-main .search input { height: 28px; color: #888; border: none; float: left; width: 150px; padding-left: 5px; padding-right: 5px; }

.nav-main .search input[type="text"]:focus { outline: none; box-shadow: 0 0 5px #2a9; }

.nav-main .search .btn { border: none; background: #009688; float: left; width: 72px; height: 30px; }

.nav-main .btn-search { border: none; background: #009688; color: #FFF; }

.menu-cover { position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: #000; opacity: 0.5; z-index: 5; display: none; }

@media (max-width: 960px) { body { padding-top: 50px; }
  .nav-main { position: fixed; top: 0; left: 0; right: 0; z-index: 10; box-shadow: 0 0 20px #000; background-image: linear-gradient(135deg, #276, #145); }
  .nav-main .nav-bar li.active, .nav-main .nav-bar li.dropdown.active { background: none; }
  .nav-main .brand { padding: 10px 0; background: none; }
  .nav-main .brand:hover { background: none; }
  .nav-main .btn-menu-toggle { float: right; margin: 10px 0; }
  .nav-main .nav-bar { position: fixed; top: 65px; bottom: 15px; left: 15px; right: 15px; margin: 0 !important; padding: 15px 0; background: #FFF; z-index: 10; display: block; float: none; clear: both; border-top: 2px solid #5A6; box-shadow: 0 0 30px #000; overflow-y: auto; -webkit-transform: translateY(200%); -moz-transform: translateY(200%); -ms-transform: translateY(200%); -o-transform: translateY(200%); transform: translateY(200%); }
  .nav-main .nav-bar:after { content: ""; display: table; clear: both; }
  .nav-main.active .nav-bar { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
  .nav-main .nav-bar li { float: none; border-bottom: 1px solid #f2f6f8; position: relative; }
  .nav-main .nav-bar > li.dropdown:after { content: " "; top: 14px; right: 14px; position: absolute; border-style: solid; border-color: #294; border-width: 1px 1px 0 0; width: 8px; height: 8px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
  .nav-main .nav-bar > li.dropdown.open:after { -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); }
  .nav-main .nav-bar li.active > a { text-shadow: none; }
  .nav-main .nav-bar li a { color: #294; padding-left: 15px; line-height: 40px; }
  .nav-main .nav-bar li a.active { background: none; }
  .nav-main .nav-bar li.dropdown a { display: inline; }
  .nav-main .nav-bar li.dropdown:hover .dropdown-menu, .nav-main .nav-bar li.dropdown .dropdown-menu { box-shadow: none; position: static; background: #f2f6f8; width: auto; display: none; margin: 0; padding: 0; }
  .nav-main .nav-bar li.dropdown .dropdown-menu a { color: #333; font-weight: normal; display: block; border-top: 1px solid #eee; }
  .nav-main .nav-bar li.dropdown.open .dropdown-menu { display: block; } }
/* 主导航 - End */

#displaypagenum {
	overflow:hidden;
	padding-top:30px;
	line-height:22px
}
#displaypagenum p {
	padding-bottom:0
}
#displaypagenum span.page,#displaypagenum a,#displaypagenum a.next {
	padding:6px 12px;
	height:28px;
	background:#055;
	color:#FFF;
	text-decoration:none;
	font-weight:bolder;
	line-height:28px
}
#displaypagenum a,#displaypagenum a.next {
	background:#f3f3f3;
	color:#333;
	font-weight:normal
}
#displaypagenum a:hover {
	background:#277;
	color:#FFF
}
/* 正文 */
.page { margin-top: 36px; }
@media (max-width: 960px) {
	.page {margin-top: 15px;}
	#displaypagenum { display: none; }
}

.article-header { border-bottom: 1px solid #EEE;    clear: left;}
.article-header .title { margin: 15px 0; }
.article-header .title h1 { color: #256; font-weight: bold; line-height: 1.2em; margin: 15px 0; letter-spacing: -2px; font-size: 46px;font-family: 'Century Gothic','microsoft yahei';}
.article-header .title .pre-title, .article-header .title .sub-title { font-size: 16px; color: gray; }
.article-header .pub-info { margin: 15px 0; font-size: 80%; }
.article-header .pub-info:before, .article-header .pub-info:after { content: " "; display: table; }
.article-header .pub-info:after { clear: both; }
.article-header .pub-info dl{ margin:0;}
.article-header .pub-info dd, .article-header .pub-info dt, .article-header .pub-info dd a{ float: left; color: #495; }
.article-header .pub-info dd a:hover{color:#F42;}
.article-header .pub-info dt { margin-right: 5px; }
.article-header .pub-info dt:after { content: ":"; float: right; }
.article-header .pub-info dd { margin-right: 20px; }
.article-header .pub-info dl.float-right dd{ margin-right:0;}

@media (max-width: 760px) { .article-header { border-bottom: 1px solid #EEE; }
  .article-header .title h1 { font-size: 24px; }
  .article-header .title .pre-title, .article-header .title .sub-title { font-size: 14px; color: gray; }
  .article-header .pub-info { margin: 15px 0; font-size: 80%; }
  .article-header .pub-info:before, .article-header .pub-info:after { content: " "; display: table; }
  .article-header .pub-info:after { clear: both; }
  .article-header .pub-info dd, .article-header .pub-info dt { float: left; color: #495; }
  .article-header .pub-info dt { margin-right: 10px; clear: left; width: 5em; }
  .article-header .pub-info dd { margin-right: 20px; }
}
@media (max-width: 410px) { 
	.pub-info dl{ float:left !important;}
	
}
.article-content { font-size: 16px; line-height: 1.5; vertical-align: baseline; color: #000; font-family: Arial, sans-serif; font-weight: 100; }

.article-content .attach {display:none;}
.article-content .attach .slider { position: relative; background: #333; margin: 30px 80px; }

.article-content .attach .slider .position { position: absolute; width: 80px; height: 40px; left: -80px; top: 0; background: #495; line-height: 40px; color: #FFF; text-align: center; }

.article-content .attach .slider .viewport { height: 360px; }

.article-content .attach .slider .nav { height: 40px; }

.article-content .content { padding: 30px; position: relative; }

.article-content .content center{font-size:0.8em; margin-top:10px;}
.article-content .content p { margin-bottom: 1.25em;}
.article-content .content strong { font-weight:bold;}

.article-content .content img { max-width: 100%; display: block; }

@media (max-width: 1200px) { .article-content .content { padding: 30px 15px; } }

@media (max-width: 760px) { .article-content .content { padding: 30px 0; } }

.sidebar { border-left: 1px solid #eee; }

.sidebar h2 { font-size: 24px; color: #5A6; font-weight: 700; margin-top: 0; margin-bottom: 0.6em; letter-spacing: -1px;    font-family: 'Century Gothic','microsoft yahei'; }

.side-news-list { list-style: none; padding: 0; margin: 0; }

.side-news-list li { margin-bottom: 1em; }

.side-news-list li:before, .side-news-list li:after { content: " "; display: table; }

.side-news-list li:after { clear: both; }

.side-news-list li .pic { margin-right: 15px; width: 90px; height: 90px; overflow: hidden; float: left; }

.side-news-list li .title { line-height: 18px; font-size: 14px; font-weight: 700; margin: 0; }

.side-news-list li .time { color: #AAA; font-size: 12px; vertical-align: baseline; margin-top: 4px; }


#loadNextPageBtn { padding: 50px 0; border-top: 1px solid #ddd; background: #f2f2f2; color: #555; text-align: center; text-align: center; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }

#loadNextPageBtn span { width: 15rem; font-size: 1.2rem; }

#loadNextPageBtn small { margin: 0; color: #999; }

.footer { background: #155; padding: 30px 0;background-image: linear-gradient(135deg, #276, #145); }
.footer small { color: #77A0AB; }

/*toolbox*/
.toolbox { padding:15px 0;}
.toolbox:after{content:""; clear:both; display:block;}
/*评论*/
.toolbox .disqus_count{float:left; height:32px; line-height:32px;padding-right: 10px; border-right: 2px solid #EEE; margin-right: 10px;}
.toolbox .disqus_count a{color:#FFF; display:block; border-radius:16px; background: #009688;font-size:12px; padding:0 16px; transition: all 0.3s;}
.toolbox .disqus_count a:hover{background: #495;}
/*分享*/
.toolbox .addthis_sharing_toolbox{float: left;}
.toolbox .addthis_sharing_toolbox a .at-icon-wrapper{ border-radius:50%;}
/*字号*/
.toolbox .text { float:right; background:#EEE; height:32px; line-height:32px; border-radius:16px; overflow:hidden;}

.toolbox .text a.reset{background: #a5b2b9; font-family: -webkit-pictograph,Arial; font-weight:bolder; color:#FFF;}
.toolbox .text a{float:left; width:40px; height:32px; line-height:32px; overflow:hidden; text-align:center;transition: all 0.3s;}
.toolbox .text a:hover{ background:#e2e6e8;}


/*相关稿件*/
.relation {	border-top:1px solid #eee;}
.relation h2{ font-size: 24px; color: #5A6; font-weight: 700; margin-top: 0; margin-bottom: 0.6em; letter-spacing: -1px;    font-family: 'Century Gothic','microsoft yahei'; }
.relation .relation-list {line-height:1.8rem}
.relation .relation-list span{ margin-left:2em; font-size:0.8em; color:#888;}

#wxsimgbox,#mediaurl{ display:none;}
#example_video{ background:#000;}

/*图片描述*/
.description{font-size:.8em;}
/*图片描述*/