iframe,
.sidebar,
#footer,
.podPress_content,
.meta,
#lang,
.date,
.social,
.post-edit-link, #searchform,
#mainmenu,
#rel_tags,
#comments,
#single_ed_choice,
#related_articles,
.powerpress_links,
#disqus_thread,
#mastheadmenu {
display:none !important;
}
body {
background:#fff !important;
margin:0 !important;
padding:0 !important;
}
a {
text-decoration:none !important;
}
.wrapper {
margin:0 !important;
padding:0;
width:100% !important;
}
#container {
width:100% !important;
margin:0 !important;
}
.featimg {
float:left;
border-left:none;
border-right:none;
border-top:1px solid #e6e6e6;
border-bottom:1px solid #e6e6e6;
background:none; 
margin-right: 26px;
margin-top: 4px;
margin-bottom: 16px;
padding: 8px 0;
}
.attachment-storypage_img {
height: auto;
margin-left: 0;
width: 300px;
}
#header_print {
margin-top:0;
display:block;
}
#header_print img {
margin-bottom:26px;
}
#footer_print {
font-weight:bold;
display:block;
}
hr.print {
height:0;
border:0;
border-top:2px solid #006090;
display:block;
}